$x-small: "only screen and (max-width: 480px)";
$small: "only screen and (max-width: 768px)";
$medium: "only screen and (max-width: 992px)";
$x-medium: "only screen and (max-width: 1200px)";
$large: "only screen and (max-width: 1312px)";

$myBrown: #666;
$myLightBrown: #999;
$myRed: #f82c2c;
$myGreen: rgb(149, 211, 124);
$mylightGray: #ccc;
$myDarkerGray: #aaa;
$my2Green: #4caf50;