.main {
  margin-top: 60px; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus {
  box-shadow: inset 0 -2px 0 green;
  color: green; }
  .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus:hover {
    color: green; }
  .nav-tabs > li.active > a:active, .nav-tabs > li.active > a:focus:active {
    color: green; }

#selectUserLabel {
  margin-left: -17px;
  font-size: 1.5em;
  font-weight: 500; }

#MainContent_UserList1 {
  margin-left: 17px;
  margin-top: 12px;
  width: 195px; }

.repeater {
  margin-top: 12px; }
  .repeater input[type="checkbox"]:checked:after, .repeater .checkbox input[type="checkbox"]:checked:after, .repeater .checkbox-inline input[type="checkbox"]:checked:after {
    background-color: green;
    border-color: green; }

#MainContent_RoleList td, #MainContent_RoleList th {
  border: none; }

#MainContent_RoleList td {
  padding: 5px; }

a {
  color: #aaa; }
  a:hover {
    color: #f82c2c; }

table {
  border: none; }

#MainContent_FeedbackLabel1 {
  position: relative;
  top: 10px;
  left: 10px;
  color: #f82c2c; }

.btn-success {
  margin-top: 20px; }

.newRoleInput {
  margin-top: 20px; }

#MainContent_GridView3 th, #MainContent_GridView3 td {
  padding: 10px; }

.auto-style1 {
  width: 100%; }

.auto-style9 {
  width: 124px;
  height: 33px;
  padding-bottom: 3px; }

.auto-style10 {
  height: 27px;
  text-align: center;
  position: relative;
  left: -50px;
  padding-top: 15px;
  font-size: 1.3em;
  font-weight: 500; }

.auto-style14 {
  width: 85px;
  height: 33px; }

.auto-style16 {
  width: 85px;
  height: 37px; }

.auto-style17 {
  width: 124px;
  height: 37px;
  padding-bottom: 3px; }

.auto-style18 {
  height: 37px; }

.auto-style19 {
  width: 85px;
  height: 32px; }

.auto-style20 {
  width: 124px;
  height: 32px;
  position: relative;
  left: -110px; }

.auto-style21 {
  height: 32px; }

.auto-style22 {
  height: 33px; }

.auto-style23 {
  height: 43px;
  text-align: center; }

.modalBackground {
  background-color: gray;
  filter: alpha(opacity-80);
  opacity: 0.8;
  z-index: 10000; }

#driverSearch {
  padding-top: 25px; }
  #driverSearch label {
    margin: 0 20px;
    color: #666;
    font-size: 1.4em; }
  #driverSearch #MainContent_FindDriverButton {
    margin-top: -5px;
    margin-left: 30px; }

#MainContent_GD1 {
  margin-bottom: 50px; }
  #MainContent_GD1 td, #MainContent_GD1 th {
    padding: 15px;
    border: none;
    border-bottom: 1px solid #95d37c; }
  #MainContent_GD1 td {
    padding: 5px; }

#MainContent_GridView1 {
  margin-bottom: 50px; }
  #MainContent_GridView1 td, #MainContent_GridView1 th {
    text-align: center;
    padding: 15px;
    border: none;
    border-bottom: 1px solid #95d37c; }
  #MainContent_GridView1 td {
    padding: 5px; }

footer {
  color: white; }
  footer hr {
    border: none; }

#MainContent_DriverDocumments {
  border: none;
  margin-top: 10px;
  margin-bottom: 80px; }
  #MainContent_DriverDocumments table {
    margin-bottom: 20px; }
  #MainContent_DriverDocumments th {
    text-align: center;
    font-size: 1.3em; }
  #MainContent_DriverDocumments td, #MainContent_DriverDocumments th {
    padding: 10px;
    border: none;
    border-bottom: 1px solid #95d37c; }
  #MainContent_DriverDocumments td {
    padding: 15px; }

#MainContent_Panel1 label[for="MainContent_CheckBoxChecked"], #MainContent_Panel1 label[for="MainContent_CheckBoxRejected"] {
  display: none; }

#MainContent_Panel1 td {
  padding-left: 70px; }

#MainContent_Panel1 #MainContent_ModalCancelButton {
  position: relative;
  right: -70px;
  top: -28px; }

i {
  padding-right: 10px;
  font-size: 1.3em;
  color: black; }

/*# sourceMappingURL=data:application/json;base64,ewoJInZlcnNpb24iOiAzLAoJImZpbGUiOiAiLi4vQ29udGVudC9Bc3NpZ25Sb2xlcy5jc3MiLAoJInNvdXJjZXMiOiBbCgkJIi4uL0NvbnRlbnQvQXNzaWduUm9sZXMuc2NzcyIsCgkJIi4uL0NvbnRlbnQvX3ZhcmlhYmxlcy5zY3NzIgoJXSwKCSJtYXBwaW5ncyI6ICJBQUVBLEFBQUEsS0FBSyxDQUFDO0VBQ0YsVUFBVSxFQUFFLElBQUssR0FDcEI7O0FBRUQsQUFBd0IsU0FBZixHQUFHLEVBQUUsQUFBQSxPQUFPLEdBQUcsQ0FBQyxFQUFFLEFBQXlCLFNBQWhCLEdBQUcsRUFBRSxBQUFBLE9BQU8sR0FBRyxDQUFDLEFBQUEsTUFBTSxDQUFDO0VBQ3ZELFVBQVUsRUFBRSxvQkFBcUI7RUFDakMsS0FBSyxFQUFFLEtBQU0sR0FTaEI7RUFYRCxBQUF3QixTQUFmLEdBQUcsRUFBRSxBQUFBLE9BQU8sR0FBRyxDQUFDLEFBSXBCLE1BQU0sRUFKZ0IsQUFBeUIsU0FBaEIsR0FBRyxFQUFFLEFBQUEsT0FBTyxHQUFHLENBQUMsQUFBQSxNQUFNLEFBSXJELE1BQU0sQ0FBQztJQUNKLEtBQUssRUFBRSxLQUFNLEdBQ2hCO0VBTkwsQUFBd0IsU0FBZixHQUFHLEVBQUUsQUFBQSxPQUFPLEdBQUcsQ0FBQyxBQVFwQixPQUFPLEVBUmUsQUFBeUIsU0FBaEIsR0FBRyxFQUFFLEFBQUEsT0FBTyxHQUFHLENBQUMsQUFBQSxNQUFNLEFBUXJELE9BQU8sQ0FBQztJQUNMLEtBQUssRUFBRSxLQUFNLEdBQ2hCOztBQUdMLEFBQUEsZ0JBQWdCLENBQUM7RUFDYixXQUFXLEVBQUUsS0FBTTtFQUNuQixTQUFTLEVBQUUsS0FBTTtFQUNqQixXQUFXLEVBQUUsR0FBSSxHQUNwQjs7QUFFRCxBQUFBLHNCQUFzQixDQUFDO0VBQ25CLFdBQVcsRUFBRSxJQUFLO0VBQ2xCLFVBQVUsRUFBRSxJQUFLO0VBQ2pCLEtBQUssRUFBRSxLQUFNLEdBQ2hCOztBQUVELEFBQUEsU0FBUyxDQUFDO0VBQ04sVUFBVSxFQUFFLElBQUssR0FNcEI7RUFQRCxBQUdrQyxTQUh6QixDQUdMLEtBQUssQ0FBQSxBQUFBLElBQUMsQ0FBSyxVQUFVLEFBQWYsQ0FBZ0IsUUFBUSxBQUFBLE1BQU0sRUFIeEMsQUFHa0YsU0FIekUsQ0FHaUMsU0FBUyxDQUFDLEtBQUssQ0FBQSxBQUFBLElBQUMsQ0FBSyxVQUFVLEFBQWYsQ0FBZ0IsUUFBUSxBQUFBLE1BQU0sRUFIeEYsQUFHeUksU0FIaEksQ0FHaUYsZ0JBQWdCLENBQUMsS0FBSyxDQUFBLEFBQUEsSUFBQyxDQUFLLFVBQVUsQUFBZixDQUFnQixRQUFRLEFBQUEsTUFBTSxDQUFDO0lBQ3hJLGdCQUFnQixFQUFFLEtBQU07SUFDeEIsWUFBWSxFQUFFLEtBQU0sR0FDdkI7O0FBR0wsQUFDSSxxQkFEaUIsQ0FDakIsRUFBRSxFQUROLEFBQ1EscUJBRGEsQ0FDYixFQUFFLENBQUM7RUFDSCxNQUFNLEVBQUUsSUFBSyxHQUNoQjs7QUFITCxBQUtJLHFCQUxpQixDQUtqQixFQUFFLENBQUM7RUFDQyxPQUFPLEVBQUUsR0FBSSxHQUNoQjs7QUFHTCxBQUFBLENBQUMsQ0FBQztFQUNFLEtBQUssRUN4Q00sSUFBSSxHRDZDbEI7RUFORCxBQUFBLENBQUMsQUFHSSxNQUFNLENBQUM7SUFDSixLQUFLLEVDOUNMLE9BQU8sR0QrQ1Y7O0FBR0wsQUFBQSxLQUFLLENBQUM7RUFDRixNQUFNLEVBQUUsSUFBSyxHQUNoQjs7QUFFRCxBQUFBLDJCQUEyQixDQUFDO0VBQ3hCLFFBQVEsRUFBRSxRQUFTO0VBQ25CLEdBQUcsRUFBRSxJQUFLO0VBQ1YsSUFBSSxFQUFFLElBQUs7RUFDWCxLQUFLLEVDMURELE9BQU8sR0QyRGQ7O0FBRUQsQUFBQSxZQUFZLENBQUM7RUFDVCxVQUFVLEVBQUUsSUFBSyxHQUNwQjs7QUFFRCxBQUFBLGFBQWEsQ0FBQztFQUNWLFVBQVUsRUFBRSxJQUFLLEdBQ3BCOztBQUVELEFBQ0ksc0JBRGtCLENBQ2xCLEVBQUUsRUFETixBQUNRLHNCQURjLENBQ2QsRUFBRSxDQUFFO0VBQ0osT0FBTyxFQUFFLElBQUssR0FDakI7O0FBR0wsQUFBQSxZQUFZLENBQUM7RUFDVCxLQUFLLEVBQUUsSUFBSyxHQUNmOztBQUVELEFBQUEsWUFBWSxDQUFDO0VBQ1QsS0FBSyxFQUFFLEtBQU07RUFDYixNQUFNLEVBQUUsSUFBSztFQUNiLGNBQWMsRUFBRSxHQUFJLEdBQ3ZCOztBQUVELEFBQUEsYUFBYSxDQUFDO0VBQ1YsTUFBTSxFQUFFLElBQUs7RUFDYixVQUFVLEVBQUUsTUFBTztFQUNuQixRQUFRLEVBQUUsUUFBUztFQUNuQixJQUFJLEVBQUUsS0FBTTtFQUNaLFdBQVcsRUFBRSxJQUFLO0VBQ2xCLFNBQVMsRUFBRSxLQUFNO0VBQ2pCLFdBQVcsRUFBRSxHQUFJLEdBQ3BCOztBQUVELEFBQUEsYUFBYSxDQUFDO0VBQ1YsS0FBSyxFQUFFLElBQUs7RUFDWixNQUFNLEVBQUUsSUFBSyxHQUNoQjs7QUFFRCxBQUFBLGFBQWEsQ0FBQztFQUNWLEtBQUssRUFBRSxJQUFLO0VBQ1osTUFBTSxFQUFFLElBQUssR0FFaEI7O0FBRUQsQUFBQSxhQUFhLENBQUM7RUFDVixLQUFLLEVBQUUsS0FBTTtFQUNiLE1BQU0sRUFBRSxJQUFLO0VBQ2IsY0FBYyxFQUFFLEdBQUksR0FDdkI7O0FBRUQsQUFBQSxhQUFhLENBQUM7RUFDVixNQUFNLEVBQUUsSUFBSyxHQUNoQjs7QUFFRCxBQUFBLGFBQWEsQ0FBQztFQUNWLEtBQUssRUFBRSxJQUFLO0VBQ1osTUFBTSxFQUFFLElBQUssR0FDaEI7O0FBRUQsQUFBQSxhQUFhLENBQUM7RUFDVixLQUFLLEVBQUUsS0FBTTtFQUNiLE1BQU0sRUFBRSxJQUFLO0VBQ2IsUUFBUSxFQUFFLFFBQVM7RUFDbkIsSUFBSSxFQUFFLE1BQU8sR0FDaEI7O0FBRUQsQUFBQSxhQUFhLENBQUM7RUFDVixNQUFNLEVBQUUsSUFBSyxHQUNoQjs7QUFFRCxBQUFBLGFBQWEsQ0FBQztFQUNWLE1BQU0sRUFBRSxJQUFLLEdBQ2hCOztBQUVELEFBQUEsYUFBYSxDQUFDO0VBQ1YsTUFBTSxFQUFFLElBQUs7RUFDYixVQUFVLEVBQUUsTUFBTyxHQUN0Qjs7QUFFRCxBQUFBLGdCQUFnQixDQUFDO0VBQ2IsZ0JBQWdCLEVBQUUsSUFBSztFQUN2QixNQUFNLEVBQUUsaUJBQUs7RUFDYixPQUFPLEVBQUUsR0FBSTtFQUNiLE9BQU8sRUFBRSxLQUFNLEdBQ2xCOztBQUVELEFBQUEsYUFBYSxDQUFDO0VBQ1YsV0FBVyxFQUFFLElBQUssR0FhckI7RUFkRCxBQUdJLGFBSFMsQ0FHVCxLQUFLLENBQUM7SUFDRixNQUFNLEVBQUUsTUFBTztJQUNmLEtBQUssRUMzSkgsSUFBSTtJRDRKTixTQUFTLEVBQUUsS0FBTSxHQUNwQjtFQVBMLEFBU0ksYUFUUyxDQVNULDZCQUE2QixDQUFDO0lBQzFCLFVBQVUsRUFBRSxJQUFLO0lBQ2pCLFdBQVcsRUFBRSxJQUFLLEdBQ3JCOztBQUlMLEFBQUEsZ0JBQWdCLENBQUM7RUFDYixhQUFhLEVBQUUsSUFBSyxHQVV2QjtFQVhELEFBRUksZ0JBRlksQ0FFWixFQUFFLEVBRk4sQUFFUSxnQkFGUSxDQUVSLEVBQUUsQ0FBQztJQUNILE9BQU8sRUFBRSxJQUFLO0lBQ2QsTUFBTSxFQUFFLElBQUs7SUFDYixhQUFhLEVBQUUsR0FBRyxDQUFDLEtBQUssQ0N4S3RCLE9BQUcsR0R5S1I7RUFOTCxBQVFJLGdCQVJZLENBUVosRUFBRSxDQUFDO0lBQ0MsT0FBTyxFQUFFLEdBQUksR0FDaEI7O0FBRUwsQUFBQSxzQkFBc0IsQ0FBQTtFQUNsQixhQUFhLEVBQUUsSUFBSyxHQVd2QjtFQVpELEFBRUssc0JBRmlCLENBRWpCLEVBQUUsRUFGUCxBQUVTLHNCQUZhLENBRWIsRUFBRSxDQUFDO0lBQ0gsVUFBVSxFQUFFLE1BQU87SUFDcEIsT0FBTyxFQUFFLElBQUs7SUFDZCxNQUFNLEVBQUUsSUFBSztJQUNiLGFBQWEsRUFBRSxHQUFHLENBQUMsS0FBSyxDQ3JMdEIsT0FBRyxHRHNMUjtFQVBMLEFBU0ksc0JBVGtCLENBU2xCLEVBQUUsQ0FBQztJQUNDLE9BQU8sRUFBRSxHQUFJLEdBQ2hCOztBQUVMLEFBQUEsTUFBTSxDQUFBO0VBSUYsS0FBSyxFQUFFLEtBQU0sR0FDaEI7RUFMRCxBQUNJLE1BREUsQ0FDRixFQUFFLENBQUE7SUFDQyxNQUFNLEVBQUUsSUFBSyxHQUNmOztBQUdMLEFBQUEsNkJBQTZCLENBQUM7RUFDMUIsTUFBTSxFQUFFLElBQUs7RUFDYixVQUFVLEVBQUUsSUFBSztFQUNqQixhQUFhLEVBQUUsSUFBSyxHQWlCdkI7RUFwQkQsQUFJSSw2QkFKeUIsQ0FJekIsS0FBSyxDQUFBO0lBQ0QsYUFBYSxFQUFFLElBQUssR0FDdkI7RUFOTCxBQU9JLDZCQVB5QixDQU96QixFQUFFLENBQUM7SUFDQyxVQUFVLEVBQUUsTUFBTztJQUNuQixTQUFTLEVBQUUsS0FBTSxHQUNwQjtFQVZMLEFBV0ssNkJBWHdCLENBV3hCLEVBQUUsRUFYUCxBQVdTLDZCQVhvQixDQVdwQixFQUFFLENBQUM7SUFDSixPQUFPLEVBQUUsSUFBSztJQUNkLE1BQU0sRUFBRSxJQUFLO0lBQ2IsYUFBYSxFQUFFLEdBQUcsQ0FBQyxLQUFLLENDaE50QixPQUFHLEdEaU5SO0VBZkwsQUFpQkksNkJBakJ5QixDQWlCekIsRUFBRSxDQUFDO0lBQ0MsT0FBTyxFQUFFLElBQUssR0FDakI7O0FBRUwsQUFDMkMsbUJBRHhCLENBQ2YsS0FBSyxDQUFBLEFBQUEsR0FBQyxDQUFJLDZCQUE2QixBQUFqQyxHQURWLEFBQ3NGLG1CQURuRSxDQUMyQixLQUFLLENBQUEsQUFBQSxHQUFDLENBQUksOEJBQThCLEFBQWxDLEVBQW9DO0VBQ2hGLE9BQU8sRUFBRSxJQUFLLEdBQ2pCOztBQUhMLEFBSUksbUJBSmUsQ0FJZixFQUFFLENBQUM7RUFDQyxZQUFZLEVBQUUsSUFBSyxHQUN0Qjs7QUFOTCxBQU9JLG1CQVBlLENBT2YsOEJBQThCLENBQUE7RUFDMUIsUUFBUSxFQUFFLFFBQVM7RUFDbkIsS0FBSyxFQUFFLEtBQU07RUFDYixHQUFHLEVBQUcsS0FBTSxHQUNmOztBQUdMLEFBQUEsQ0FBQyxDQUFDO0VBQ0YsYUFBYSxFQUFFLElBQUs7RUFDcEIsU0FBUyxFQUFFLEtBQU07RUFDakIsS0FBSyxFQUFFLEtBQU0sR0FDWiIsCgkibmFtZXMiOiBbXQp9 */