.main {
  margin-top: 60px; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus {
  box-shadow: inset 0 -2px 0 green;
  color: green; }
  .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus:hover {
    color: green; }
  .nav-tabs > li.active > a:active, .nav-tabs > li.active > a:focus:active {
    color: green; }

#selectUserLabel {
  margin-left: -17px;
  font-size: 1.5em;
  font-weight: 500; }

#MainContent_UserList1 {
  margin-left: 17px;
  margin-top: 12px;
  width: 195px; }

.repeater {
  margin-top: 12px; }
  .repeater input[type="checkbox"]:checked:after, .repeater .checkbox input[type="checkbox"]:checked:after, .repeater .checkbox-inline input[type="checkbox"]:checked:after {
    background-color: green;
    border-color: green; }

#MainContent_RoleList td, #MainContent_RoleList th {
  border: none; }

#MainContent_RoleList td {
  padding: 5px; }

a {
  color: #aaa; }
  a:hover {
    color: #f82c2c; }

table {
  border: none; }

#MainContent_FeedbackLabel1 {
  position: relative;
  top: 10px;
  left: 10px;
  color: #f82c2c; }

.btn-success {
  margin-top: 20px; }

.newRoleInput {
  margin-top: 20px; }

#MainContent_GridView3 th, #MainContent_GridView3 td {
  padding: 10px; }

/*# sourceMappingURL=data:application/json;base64,ewoJInZlcnNpb24iOiAzLAoJImZpbGUiOiAiLi4vQ29udGVudC9Bc3NpZ25Sb2xlcy5jc3MiLAoJInNvdXJjZXMiOiBbCgkJIi4uL0NvbnRlbnQvQXNzaWduUm9sZXMuc2NzcyIsCgkJIi4uL0NvbnRlbnQvX3ZhcmlhYmxlcy5zY3NzIgoJXSwKCSJtYXBwaW5ncyI6ICJBQUNBLEFBQUEsS0FBSyxDQUFDO0VBQ0YsVUFBVSxFQUFFLElBQUssR0FDcEI7O0FBQ0QsQUFBd0IsU0FBZixHQUFHLEVBQUUsQUFBQSxPQUFPLEdBQUcsQ0FBQyxFQUFFLEFBQXlCLFNBQWhCLEdBQUcsRUFBRSxBQUFBLE9BQU8sR0FBRyxDQUFDLEFBQUEsTUFBTSxDQUFDO0VBQ3ZELFVBQVUsRUFBRSxvQkFBcUI7RUFDakMsS0FBSyxFQUFFLEtBQU0sR0FTaEI7RUFYRCxBQUF3QixTQUFmLEdBQUcsRUFBRSxBQUFBLE9BQU8sR0FBRyxDQUFDLEFBSXBCLE1BQU0sRUFKZ0IsQUFBeUIsU0FBaEIsR0FBRyxFQUFFLEFBQUEsT0FBTyxHQUFHLENBQUMsQUFBQSxNQUFNLEFBSXJELE1BQU0sQ0FBQztJQUNKLEtBQUssRUFBRSxLQUFNLEdBQ2hCO0VBTkwsQUFBd0IsU0FBZixHQUFHLEVBQUUsQUFBQSxPQUFPLEdBQUcsQ0FBQyxBQVFwQixPQUFPLEVBUmUsQUFBeUIsU0FBaEIsR0FBRyxFQUFFLEFBQUEsT0FBTyxHQUFHLENBQUMsQUFBQSxNQUFNLEFBUXJELE9BQU8sQ0FBQztJQUNMLEtBQUssRUFBRSxLQUFNLEdBQ2hCOztBQUVMLEFBQUEsZ0JBQWdCLENBQUE7RUFDWixXQUFXLEVBQUUsS0FBTTtFQUNuQixTQUFTLEVBQUUsS0FBTTtFQUNqQixXQUFXLEVBQUUsR0FBSSxHQUNwQjs7QUFDRCxBQUFBLHNCQUFzQixDQUFBO0VBQ2xCLFdBQVcsRUFBRSxJQUFLO0VBQ2xCLFVBQVUsRUFBRSxJQUFLO0VBQ2pCLEtBQUssRUFBRSxLQUFNLEdBQ2hCOztBQUNELEFBQUEsU0FBUyxDQUFDO0VBQ04sVUFBVSxFQUFFLElBQUssR0FLcEI7RUFORCxBQUVrQyxTQUZ6QixDQUVMLEtBQUssQ0FBQSxBQUFBLElBQUMsQ0FBSyxVQUFVLEFBQWYsQ0FBZ0IsUUFBUSxBQUFBLE1BQU0sRUFGeEMsQUFFa0YsU0FGekUsQ0FFaUMsU0FBUyxDQUFDLEtBQUssQ0FBQSxBQUFBLElBQUMsQ0FBSyxVQUFVLEFBQWYsQ0FBZ0IsUUFBUSxBQUFBLE1BQU0sRUFGeEYsQUFFeUksU0FGaEksQ0FFaUYsZ0JBQWdCLENBQUMsS0FBSyxDQUFBLEFBQUEsSUFBQyxDQUFLLFVBQVUsQUFBZixDQUFnQixRQUFRLEFBQUEsTUFBTSxDQUFDO0lBQ3hJLGdCQUFnQixFQUFFLEtBQU07SUFDcEIsWUFBWSxFQUFFLEtBQU0sR0FDM0I7O0FBRUwsQUFDSSxxQkFEaUIsQ0FDakIsRUFBRSxFQUROLEFBQ1EscUJBRGEsQ0FDYixFQUFFLENBQUM7RUFDSCxNQUFNLEVBQUUsSUFBSyxHQUVoQjs7QUFKTCxBQUtJLHFCQUxpQixDQUtqQixFQUFFLENBQUM7RUFDRyxPQUFPLEVBQUUsR0FBSSxHQUNsQjs7QUFHRixBQUFBLENBQUMsQ0FBQztFQUNFLEtBQUssRUNsQ0csSUFBSSxHRHNDZjtFQUxELEFBQUEsQ0FBQyxBQUVJLE1BQU0sQ0FBQztJQUNKLEtBQUssRUN2Q1IsT0FBTyxHRHdDUDs7QUFHUixBQUFBLEtBQUssQ0FBQztFQUNGLE1BQU0sRUFBRSxJQUFLLEdBRWhCOztBQUNELEFBQUEsMkJBQTJCLENBQUM7RUFDeEIsUUFBUSxFQUFFLFFBQVM7RUFDbkIsR0FBRyxFQUFFLElBQUs7RUFDVixJQUFJLEVBQUUsSUFBSztFQUVYLEtBQUssRUNwREQsT0FBTyxHRHFEZDs7QUFDRCxBQUFBLFlBQVksQ0FBQztFQUNULFVBQVUsRUFBRSxJQUFLLEdBQ3BCOztBQUNELEFBQUEsYUFBYSxDQUFBO0VBQ1QsVUFBVSxFQUFFLElBQUssR0FDcEI7O0FBQ0QsQUFDSSxzQkFEa0IsQ0FDbEIsRUFBRSxFQUROLEFBQ1Esc0JBRGMsQ0FDZCxFQUFFLENBQUU7RUFDSixPQUFPLEVBQUUsSUFBSyxHQUVqQiIsCgkibmFtZXMiOiBbXQp9 */