@import "_variables.scss";

#panel-clients {
    .panel-heading {
        text-align: center;
        font-size: 1.3em;
    }

    position: relative;
    float: right;
    margin-top: 50px;
    margin-right: 84px;
    height: 300px;
    width: 280px;

    .panel.panel-default {
        position: relative;
        margin-right: 0px;
        height: 600px;
    }

    .panel-body {
        overflow-y: scroll;
        position: relative;
        height: 77%;

        a {
            color: $myBrown;

            &:hover {
                color: #999999;
            }
        }

        .fa {
            padding-left: 13px;
            padding-top: 13px;
            font-size: 1.4em;
        }

        .well-sm {
            padding-bottom: 0px;
            margin-bottom: 5px;
            background: #eeeeee;

            p {
                font-size: 1.2em;
                padding-left: 13px;
            }
        }
    }

    .panel-footer {
        width: 278px;
        position: absolute;
        bottom: 0px;
        padding-bottom: 25px;
        padding-top: 25px;
    }
}

.panel-success {
    border: 1px solid $myGreen;
}

#chatRoomBtn {

    &:focus {
        outline: none;
    }
}

footer {
    display: none;
}

.chat-panel {
    margin-right: 150px;
    margin-top: 50px;
    float: right;
    width: 340px;

    .panel-body {
        min-height: 460px;
        max-height: 460px;
        overflow-y: scroll;
    }

    .panel-heading {

        .panel-title {
            font-size: 1.3em;
            font-weight: 500;
        }

        #closeChat {
            float: right;
            color: $myBrown;
            margin-top: 2px;
            margin-right: 5px;

            &:hover {
                color: $myRed;
            }
        }
    }

    .form-inline {
        margin-bottom: -32px;
    }

    .form-group {
        .input-group-addon {
            text-align: right;
            position: relative;
            right: -5px;
            top: -40px;

            .fa-paper-plane-o {
                color: $myBrown;
                font-size: 2.3em;

                &:hover {
                    color: $myLightBrown;
                }
            }
        }

        textarea {
            min-width: 240px;
            max-width: 240px;
            max-height: 135px;

            &:focus {
                outline: none;
            }
        }
    }
}

#boardMessages {
    .right {
        p{
            text-align: right;
        }
        .fa-commenting-o {
            position: relative;
            left: 273px;
            transform: scaleX(-1);
            -moz-transform: scaleX(-1);
            -webkit-transform: scaleX(-1);
            -ms-transform: scaleX(-1);
        }
    }
}
