.progr {
    width: 100%;
    height: 80px;
    background: #f5f5f5;
    border: none;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    margin-bottom: 70px;

    .line {
        height: 1px;
        position: relative;
        //border-bottom: 1px solid #BBBBBB;
        background: rgba(245,245,245,1);
        background: -moz-linear-gradient(left, rgba(245,245,245,1) 0%, rgba(187,187,187,1) 30%, rgba(187,187,187,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(245,245,245,1)), color-stop(30%, rgba(187,187,187,1)), color-stop(100%, rgba(187,187,187,1)));
        background: -webkit-linear-gradient(left, rgba(245,245,245,1) 0%, rgba(187,187,187,1) 30%, rgba(187,187,187,1) 100%);
        background: -o-linear-gradient(left, rgba(245,245,245,1) 0%, rgba(187,187,187,1) 30%, rgba(187,187,187,1) 100%);
        background: -ms-linear-gradient(left, rgba(245,245,245,1) 0%, rgba(187,187,187,1) 30%, rgba(187,187,187,1) 100%);
        background: linear-gradient(to right, rgba(245,245,245,1) 0%, rgba(187,187,187,1) 30%, rgba(187,187,187,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#bbbbbb', GradientType=1 );
        width: 60%;
        float: right;
        margin-top: 16px;
        margin-right: 65px;

        .icons-wrapper {
            padding-left: 150px;

            @media screen and (max-width: 768px) {
                padding-left: 50px;
            }

            p {
                display: inline-block;
                position: relative;
                top: 0px;
                float: left;

                .fa-user {
                    position: relative;
                    top: -25px;
                    color: #AAAAAA;
                }

                .fa-thumbs-up {
                    position: relative;
                    top: -24px;
                    color: rgb(149, 211, 124);
                }

                .fa-eur {
                    position: relative;
                    top: -20px;
                    color: #CCCCCC;
                }
            }
        }
    }
}

.alert-success {
    background-color: rgb(149, 211, 124);
    margin-top: -10px;
    margin-bottom: 60px;
}

#accordion {
    #collapseOne {
        padding-top: 30px;
        padding-bottom: 30px;

        #InputDay {
            margin-left: -15px;
        }
        #InputMonth{
            margin-left: -34px;
        }
        #InputYear {
            margin-left: -54px;
        }
    }
    button{
        margin-top: 60px;
        
    }
}

.container#quotation {
    margin-top: 70px;
}
