.progr {
  width: 100%;
  height: 80px;
  background: #f5f5f5;
  border: none;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  margin-bottom: 70px; }
  .progr .line {
    height: 1px;
    position: relative;
    background: whitesmoke;
    background: -moz-linear-gradient(left, whitesmoke 0%, #bbbbbb 30%, #bbbbbb 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, whitesmoke), color-stop(30%, #bbbbbb), color-stop(100%, #bbbbbb));
    background: -webkit-linear-gradient(left, whitesmoke 0%, #bbbbbb 30%, #bbbbbb 100%);
    background: -o-linear-gradient(left, whitesmoke 0%, #bbbbbb 30%, #bbbbbb 100%);
    background: -ms-linear-gradient(left, whitesmoke 0%, #bbbbbb 30%, #bbbbbb 100%);
    background: linear-gradient(to right, whitesmoke 0%, #bbbbbb 30%, #bbbbbb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#bbbbbb', GradientType=1 );
    width: 60%;
    float: right;
    margin-top: 16px;
    margin-right: 65px; }
    .progr .line .icons-wrapper {
      padding-left: 150px; }
      @media screen and (max-width: 768px) {
        .progr .line .icons-wrapper {
          padding-left: 50px; } }
      .progr .line .icons-wrapper p {
        display: inline-block;
        position: relative;
        top: 0px;
        float: left; }
        .progr .line .icons-wrapper p .fa-user {
          position: relative;
          top: -25px;
          color: #AAAAAA; }
        .progr .line .icons-wrapper p .fa-thumbs-up {
          position: relative;
          top: -24px;
          color: #95d37c; }
        .progr .line .icons-wrapper p .fa-eur {
          position: relative;
          top: -20px;
          color: #CCCCCC; }

.fa-plus {
  color: #95d37c;
  margin-top: 13px;
  margin-left: 10px; }

.fa-minus {
  color: red;
  margin-top: 13px;
  margin-left: 10px; }

#collapseThree #MainContent_LinkButtonAddConvictions, #collapseThree #MainContent_LinkButtonRemoveConvictions, #collapseThree #MainContent_LinkButtonAddClaims, #collapseThree #MainContent_LinkButtonRemoveClaims, #MainContent_LinkButtonAddDriver, #MainContent_LinkButtonRemoveDriver {
  position: relative;
  top: 25px;
  color: #666;
  margin-left: 10px; }

.alert-success {
  background-color: #95d37c;
  margin-top: -10px;
  margin-bottom: 60px; }

#collapseOne {
  padding-top: 30px;
  padding-bottom: 30px; }
  #collapseOne #MainContent_InputDOBDay {
    margin-left: -15px; }
  #collapseOne #MainContent_InputDOBMonth {
    margin-left: -34px; }
  #collapseOne #MainContent_InputDOBYear {
    margin-left: -54px; }
  #collapseOne #MainContent_Button1 {
    margin-top: 60px; }

#collapseTwo {
  padding-top: 30px;
  padding-bottom: 30px; }
  #collapseTwo #MainContent_InputDOMDay {
    margin-left: -15px; }
  #collapseTwo #MainContent_InputDOMMonth {
    margin-left: -34px; }
  #collapseTwo #MainContent_InputDOMYear {
    margin-left: -54px; }
  #collapseTwo #MainContent_Button2 {
    margin-top: 60px; }

#collapseThree {
  padding-top: 30px;
  padding-bottom: 30px; }
  #collapseThree #MainContent_InputClaimDateDay {
    margin-left: -15px; }
  #collapseThree #MainContent_InputClaimDateMonth {
    margin-left: -34px; }
  #collapseThree #MainContent_InputClaimDateYear {
    margin-left: -54px; }
  #collapseThree #MainContent_InputConvictionDateDay {
    margin-left: -15px; }
  #collapseThree #MainContent_InputConvictionDateMonth {
    margin-left: -34px; }
  #collapseThree #MainContent_InputConvictionDateYear {
    margin-left: -54px; }
  #collapseThree #MainContent_LinkButtonAddConvictions {
    margin-left: 20px; }
  #collapseThree #MainContent_LinkButtonAddClaims {
    margin-left: 20px; }
  #collapseThree #MainContent_Button3 {
    margin-top: 60px; }
  #collapseThree #Claims {
    font-size: 1.8em;
    margin-top: 20px; }
  #collapseThree #Convictions {
    font-size: 1.8em;
    margin-top: 20px; }

#collapseFour {
  padding-top: 30px;
  padding-bottom: 30px; }
  #collapseFour #MainContent_InputAdditionalDriverDOBDay {
    margin-left: -15px; }
  #collapseFour #MainContent_InputAdditionalDriverDOBMonth {
    margin-left: -34px; }
  #collapseFour #MainContent_InputAdditionalDriverDOBYear {
    margin-left: -54px; }
  #collapseFour #MainContent_Button4 {
    margin-top: 60px; }

#collapseFive {
  padding-top: 30px;
  padding-bottom: 30px; }
  #collapseFive #MainContent_Button5 {
    margin-top: 60px;
    margin-bottom: 30px; }
  #collapseFive .form-group {
    margin-top: 40px;
    margin-bottom: 20px; }
  #collapseFive #MainContent_CheckBoxAccpetTerms {
    margin-top: 10px; }

.panel-title {
  font-size: 20px; }

.container#quotation {
  margin-top: 70px; }

label {
  font-size: 1.1em; }

/*# sourceMappingURL=data:application/json;base64,ewoJInZlcnNpb24iOiAzLAoJImZpbGUiOiAiLi4vQ29udGVudC9HZXRRdW90ZS5jc3MiLAoJInNvdXJjZXMiOiBbCgkJIi4uL0NvbnRlbnQvR2V0UXVvdGUuc2NzcyIKCV0sCgkibWFwcGluZ3MiOiAiQUFJQSxBQUFBLE1BQU0sQ0FBQztFQUNILEtBQUssRUFBRSxJQUFLO0VBQ1osTUFBTSxFQUFFLElBQUs7RUFDYixVQUFVLEVBQUUsT0FBUTtFQUNwQixNQUFNLEVBQUUsSUFBSztFQUNiLGFBQWEsRUFBRSxHQUFJO0VBQ25CLGtCQUFrQixFQUFFLENBQUMsQ0FBQyxHQUFHLENBQUMsR0FBRyxDQUFDLGtCQUFJO0VBQ2xDLFVBQVUsRUFBRSxDQUFDLENBQUMsR0FBRyxDQUFDLEdBQUcsQ0FBQyxrQkFBSTtFQUMxQixhQUFhLEVBQUUsSUFBSyxHQW9EdkI7RUE1REQsQUFVSSxNQVZFLENBVUYsS0FBSyxDQUFDO0lBQ0YsTUFBTSxFQUFFLEdBQUk7SUFDWixRQUFRLEVBQUUsUUFBUztJQUVuQixVQUFVLEVBQUUsVUFBSTtJQUNoQixVQUFVLEVBQUUsb0VBQW9CO0lBQ2hDLFVBQVUsRUFBRSxzSEFBZ0I7SUFDNUIsVUFBVSxFQUFFLHVFQUF1QjtJQUNuQyxVQUFVLEVBQUUsa0VBQWtCO0lBQzlCLFVBQVUsRUFBRSxtRUFBbUI7SUFDL0IsVUFBVSxFQUFFLG1FQUFlO0lBQzNCLE1BQU0sRUFBRSw0R0FBNEc7SUFDcEgsS0FBSyxFQUFFLEdBQUk7SUFDWCxLQUFLLEVBQUUsS0FBTTtJQUNiLFVBQVUsRUFBRSxJQUFLO0lBQ2pCLFlBQVksRUFBRSxJQUFLLEdBa0N0QjtJQTNETCxBQTJCUSxNQTNCRixDQVVGLEtBQUssQ0FpQkQsY0FBYyxDQUFDO01BQ1gsWUFBWSxFQUFFLEtBQU0sR0E4QnZCO01BNUJHLE1BQU0sQ0FBTixNQUFNLE1BQU0sU0FBUyxFQUFFLEtBQUs7UUE5QnhDLEFBMkJRLE1BM0JGLENBVUYsS0FBSyxDQWlCRCxjQUFjLENBQUM7VUFJUCxZQUFZLEVBQUUsSUFBSyxHQTJCMUI7TUExRFQsQUFrQ1ksTUFsQ04sQ0FVRixLQUFLLENBaUJELGNBQWMsQ0FPVixDQUFDLENBQUM7UUFDRSxPQUFPLEVBQUUsWUFBYTtRQUN0QixRQUFRLEVBQUUsUUFBUztRQUNuQixHQUFHLEVBQUUsR0FBSTtRQUNULEtBQUssRUFBRSxJQUFLLEdBbUJmO1FBekRiLEFBd0NnQixNQXhDVixDQVVGLEtBQUssQ0FpQkQsY0FBYyxDQU9WLENBQUMsQ0FNRyxRQUFRLENBQUM7VUFDTCxRQUFRLEVBQUUsUUFBUztVQUNuQixHQUFHLEVBQUUsS0FBTTtVQUNYLEtBQUssRUFBRSxPQUFRLEdBQ2xCO1FBNUNqQixBQThDZ0IsTUE5Q1YsQ0FVRixLQUFLLENBaUJELGNBQWMsQ0FPVixDQUFDLENBWUcsYUFBYSxDQUFDO1VBQ1YsUUFBUSxFQUFFLFFBQVM7VUFDbkIsR0FBRyxFQUFFLEtBQU07VUFDWCxLQUFLLEVBQUUsT0FBRyxHQUNiO1FBbERqQixBQW9EZ0IsTUFwRFYsQ0FVRixLQUFLLENBaUJELGNBQWMsQ0FPVixDQUFDLENBa0JHLE9BQU8sQ0FBQztVQUNKLFFBQVEsRUFBRSxRQUFTO1VBQ25CLEdBQUcsRUFBRSxLQUFNO1VBQ1gsS0FBSyxFQUFFLE9BQVEsR0FDbEI7O0FBTWpCLEFBQUEsUUFBUSxDQUFDO0VBQ0wsS0FBSyxFQWpFQyxPQUFHO0VBa0VULFVBQVUsRUFBRSxJQUFLO0VBQ2pCLFdBQVcsRUFBRSxJQUFLLEdBQ3JCOztBQUVELEFBQUEsU0FBUyxDQUFDO0VBQ04sS0FBSyxFQXhFRCxHQUFHO0VBeUVQLFVBQVUsRUFBRSxJQUFLO0VBQ2pCLFdBQVcsRUFBRSxJQUFLLEdBQ3JCOztBQXlERCxBQXZEQSxjQXVEYyxDQStCVixxQ0FBcUMsRUEvQnpDLEFBdkRBLGNBdURjLENBb0NWLHdDQUF3QyxFQXBDNUMsQUF2REEsY0F1RGMsQ0F3Q1YsZ0NBQWdDLEVBeENwQyxBQXZEQSxjQXVEYyxDQTZDVixtQ0FBbUMsRUF1Q3ZDLEFBM0lBLGdDQTJJZ0MsRUFJaEMsQUEvSUEsbUNBK0ltQyxDQS9JckI7RUFDVixRQUFRLEVBQUUsUUFBUztFQUNuQixHQUFHLEVBQUUsSUFBSztFQUNWLEtBQUssRUFqRkMsSUFBSTtFQWtGVixXQUFXLEVBQUUsSUFBSyxHQUNyQjs7QUFFRCxBQUFBLGNBQWMsQ0FBQztFQUNYLGdCQUFnQixFQUFFLE9BQUc7RUFDckIsVUFBVSxFQUFFLEtBQU07RUFDbEIsYUFBYSxFQUFFLElBQUssR0FDdkI7O0FBRUQsQUFBQSxZQUFZLENBQUM7RUFDVCxXQUFXLEVBQUUsSUFBSztFQUNsQixjQUFjLEVBQUUsSUFBSyxHQWlCeEI7RUFuQkQsQUFJSSxZQUpRLENBSVIsd0JBQXdCLENBQUM7SUFDckIsV0FBVyxFQUFFLEtBQU0sR0FDdEI7RUFOTCxBQVFJLFlBUlEsQ0FRUiwwQkFBMEIsQ0FBQztJQUN2QixXQUFXLEVBQUUsS0FBTSxHQUN0QjtFQVZMLEFBWUksWUFaUSxDQVlSLHlCQUF5QixDQUFDO0lBQ3RCLFdBQVcsRUFBRSxLQUFNLEdBQ3RCO0VBZEwsQUFnQkksWUFoQlEsQ0FnQlIsb0JBQW9CLENBQUM7SUFDakIsVUFBVSxFQUFFLElBQUssR0FDcEI7O0FBR0wsQUFBQSxZQUFZLENBQUM7RUFDVCxXQUFXLEVBQUUsSUFBSztFQUNsQixjQUFjLEVBQUUsSUFBSyxHQWlCeEI7RUFuQkQsQUFJSSxZQUpRLENBSVIsd0JBQXdCLENBQUM7SUFDckIsV0FBVyxFQUFFLEtBQU0sR0FDdEI7RUFOTCxBQVFJLFlBUlEsQ0FRUiwwQkFBMEIsQ0FBQztJQUN2QixXQUFXLEVBQUUsS0FBTSxHQUN0QjtFQVZMLEFBWUksWUFaUSxDQVlSLHlCQUF5QixDQUFDO0lBQ3RCLFdBQVcsRUFBRSxLQUFNLEdBQ3RCO0VBZEwsQUFnQkksWUFoQlEsQ0FnQlIsb0JBQW9CLENBQUM7SUFDakIsVUFBVSxFQUFFLElBQUssR0FDcEI7O0FBR0wsQUFBQSxjQUFjLENBQUM7RUFDWCxXQUFXLEVBQUUsSUFBSztFQUNsQixjQUFjLEVBQUUsSUFBSyxHQTREeEI7RUE5REQsQUFJSSxjQUpVLENBSVYsOEJBQThCLENBQUM7SUFDM0IsV0FBVyxFQUFFLEtBQU0sR0FDdEI7RUFOTCxBQVFJLGNBUlUsQ0FRVixnQ0FBZ0MsQ0FBQztJQUM3QixXQUFXLEVBQUUsS0FBTSxHQUN0QjtFQVZMLEFBWUksY0FaVSxDQVlWLCtCQUErQixDQUFDO0lBQzVCLFdBQVcsRUFBRSxLQUFNLEdBQ3RCO0VBZEwsQUFnQkksY0FoQlUsQ0FnQlYsbUNBQW1DLENBQUM7SUFDaEMsV0FBVyxFQUFFLEtBQU0sR0FDdEI7RUFsQkwsQUFvQkksY0FwQlUsQ0FvQlYscUNBQXFDLENBQUM7SUFDbEMsV0FBVyxFQUFFLEtBQU0sR0FDdEI7RUF0QkwsQUF3QkksY0F4QlUsQ0F3QlYsb0NBQW9DLENBQUM7SUFDakMsV0FBVyxFQUFFLEtBQU0sR0FDdEI7RUExQkwsQUErQkksY0EvQlUsQ0ErQlYscUNBQXFDLENBQUM7SUFFbEMsV0FBVyxFQUFFLElBQUssR0FDckI7RUFsQ0wsQUF3Q0ksY0F4Q1UsQ0F3Q1YsZ0NBQWdDLENBQUM7SUFFN0IsV0FBVyxFQUFFLElBQUssR0FDckI7RUEzQ0wsQUFpREksY0FqRFUsQ0FpRFYsb0JBQW9CLENBQUM7SUFDakIsVUFBVSxFQUFFLElBQUssR0FDcEI7RUFuREwsQUFxREksY0FyRFUsQ0FxRFYsT0FBTyxDQUFDO0lBQ0osU0FBUyxFQUFFLEtBQU07SUFDakIsVUFBVSxFQUFFLElBQUssR0FDcEI7RUF4REwsQUEwREksY0ExRFUsQ0EwRFYsWUFBWSxDQUFDO0lBQ1QsU0FBUyxFQUFFLEtBQU07SUFDakIsVUFBVSxFQUFFLElBQUssR0FDcEI7O0FBSUwsQUFBQSxhQUFhLENBQUM7RUFDVixXQUFXLEVBQUUsSUFBSztFQUNsQixjQUFjLEVBQUUsSUFBSyxHQWdCeEI7RUFsQkQsQUFJSSxhQUpTLENBSVQsd0NBQXdDLENBQUM7SUFDckMsV0FBVyxFQUFFLEtBQU0sR0FDdEI7RUFOTCxBQVFJLGFBUlMsQ0FRVCwwQ0FBMEMsQ0FBQztJQUN2QyxXQUFXLEVBQUUsS0FBTSxHQUN0QjtFQVZMLEFBWUksYUFaUyxDQVlULHlDQUF5QyxDQUFDO0lBQ3RDLFdBQVcsRUFBRSxLQUFNLEdBQ3RCO0VBZEwsQUFlSSxhQWZTLENBZVQsb0JBQW9CLENBQUM7SUFDakIsVUFBVSxFQUFFLElBQUssR0FDcEI7O0FBV0wsQUFBQSxhQUFhLENBQUM7RUFDVixXQUFXLEVBQUUsSUFBSztFQUNsQixjQUFjLEVBQUUsSUFBSyxHQWV4QjtFQWpCRCxBQUlJLGFBSlMsQ0FJVCxvQkFBb0IsQ0FBQztJQUNqQixVQUFVLEVBQUUsSUFBSztJQUNqQixhQUFhLEVBQUUsSUFBSyxHQUN2QjtFQVBMLEFBU0ksYUFUUyxDQVNULFdBQVcsQ0FBQztJQUNSLFVBQVUsRUFBRSxJQUFLO0lBQ2pCLGFBQWEsRUFBRSxJQUFLLEdBQ3ZCO0VBWkwsQUFjSSxhQWRTLENBY1QsZ0NBQWdDLENBQUM7SUFDN0IsVUFBVSxFQUFFLElBQUssR0FDcEI7O0FBR0wsQUFBQSxZQUFZLENBQUM7RUFDVCxTQUFTLEVBQUUsSUFBSyxHQUNuQjs7QUFFRCxBQUFVLFVBQUEsQUFBQSxVQUFVLENBQUM7RUFDakIsVUFBVSxFQUFFLElBQUssR0FDcEI7O0FBRUQsQUFBQSxLQUFLLENBQUM7RUFDRixTQUFTLEVBQUUsS0FBTSxHQUNwQiIsCgkibmFtZXMiOiBbXQp9 */