.steps {
  font-size: 2em;
  margin-top: 17px;
  margin-left: 60px; }

.progr {
  width: 100%;
  height: 80px;
  background: #f5f5f5;
  border: none;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  margin-bottom: 70px; }
  .progr .line {
    height: 1px;
    position: relative;
    background: whitesmoke;
    background: -moz-linear-gradient(left, whitesmoke 0%, #bbbbbb 30%, #bbbbbb 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, whitesmoke), color-stop(30%, #bbbbbb), color-stop(100%, #bbbbbb));
    background: -webkit-linear-gradient(left, whitesmoke 0%, #bbbbbb 30%, #bbbbbb 100%);
    background: -o-linear-gradient(left, whitesmoke 0%, #bbbbbb 30%, #bbbbbb 100%);
    background: -ms-linear-gradient(left, whitesmoke 0%, #bbbbbb 30%, #bbbbbb 100%);
    background: linear-gradient(to right, whitesmoke 0%, #bbbbbb 30%, #bbbbbb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#bbbbbb', GradientType=1 );
    width: 60%;
    float: right;
    margin-top: 50px;
    margin-right: 65px; }
    .progr .line .icons-wrapper {
      padding-left: 150px; }
      @media screen and (max-width: 768px) {
        .progr .line .icons-wrapper {
          padding-left: 50px; } }
      .progr .line .icons-wrapper p {
        display: inline-block;
        position: relative;
        top: 0px;
        float: left; }
        .progr .line .icons-wrapper p .fa-user {
          position: relative;
          top: -25px;
          color: #AAAAAA; }
        .progr .line .icons-wrapper p .fa-thumbs-up {
          position: relative;
          top: -24px;
          color: #ccc; }
        .progr .line .icons-wrapper p .fa-eur {
          position: relative;
          top: -20px;
          color: #CCCCCC; }

.fa-plus {
  color: #95d37c;
  margin-top: 13px;
  margin-left: 10px; }

.fa-minus {
  color: #f82c2c;
  margin-top: 13px;
  margin-left: 10px; }

#collapseThree #MainContent_LinkButtonAddConvictions, #collapseThree #MainContent_LinkButtonRemoveConvictions, #collapseThree #MainContent_LinkButtonAddClaims, #collapseThree #MainContent_LinkButtonRemoveClaims, #MainContent_LinkButtonAddDriver, #MainContent_LinkButtonRemoveDriver {
  position: relative;
  top: 25px;
  color: #666;
  margin-left: 10px; }

.alert-success {
  background-color: #95d37c;
  margin-top: -10px;
  margin-bottom: 60px; }

.alert-danger {
  background: #f82c2c;
  margin-top: -10px;
  margin-bottom: 60px; }

#collapseOne {
  padding-top: 30px;
  padding-bottom: 30px; }
  #collapseOne #MainContent_InputDOBDay {
    margin-left: -15px; }
  #collapseOne #MainContent_InputDOBMonth {
    margin-left: -34px; }
  #collapseOne #MainContent_InputDOBYear {
    margin-left: -54px; }
  #collapseOne #MainContent_Button1 {
    margin-top: 60px; }

#collapseTwo {
  padding-top: 30px;
  padding-bottom: 30px; }
  #collapseTwo #MainContent_InputDOMDay {
    margin-left: -15px; }
  #collapseTwo #MainContent_InputDOMMonth {
    margin-left: -34px; }
  #collapseTwo #MainContent_InputDOMYear {
    margin-left: -54px; }
  #collapseTwo #MainContent_Button2 {
    margin-top: 60px; }

#collapseThree {
  padding-top: 30px;
  padding-bottom: 30px; }
  #collapseThree #MainContent_InputClaimDateDay {
    margin-left: -15px; }
  #collapseThree #MainContent_InputClaimDateMonth {
    margin-left: -34px; }
  #collapseThree #MainContent_InputClaimDateYear {
    margin-left: -54px; }
  #collapseThree #MainContent_InputConvictionDateDay {
    margin-left: -15px; }
  #collapseThree #MainContent_InputConvictionDateMonth {
    margin-left: -34px; }
  #collapseThree #MainContent_InputConvictionDateYear {
    margin-left: -54px; }
  #collapseThree #MainContent_LinkButtonAddConvictions {
    margin-left: 20px; }
  #collapseThree #MainContent_LinkButtonAddClaims {
    margin-left: 20px; }
  #collapseThree #MainContent_Button3 {
    margin-top: 60px; }
  #collapseThree #Claims {
    font-size: 1.8em;
    margin-top: 20px; }
  #collapseThree #Convictions {
    font-size: 1.8em;
    margin-top: 20px; }

#collapseFour {
  padding-top: 30px;
  padding-bottom: 30px; }
  #collapseFour #MainContent_InputAdditionalDriverDOBDay {
    margin-left: -15px; }
  #collapseFour #MainContent_InputAdditionalDriverDOBMonth {
    margin-left: -34px; }
  #collapseFour #MainContent_InputAdditionalDriverDOBYear {
    margin-left: -54px; }
  #collapseFour #MainContent_Button4 {
    margin-top: 60px; }

#collapseFive {
  padding-top: 30px;
  padding-bottom: 30px; }
  #collapseFive #MainContent_Button5 {
    margin-top: 60px;
    margin-bottom: 30px; }
  #collapseFive .form-group {
    margin-top: 40px;
    margin-bottom: 20px; }
  #collapseFive #MainContent_CheckBoxAcceptTerms {
    margin-bottom: -12px; }

.panel-title {
  font-size: 20px; }

.container#quotation {
  margin-top: 70px; }

label {
  font-size: 1.1em; }

/*# sourceMappingURL=data:application/json;base64,ewoJInZlcnNpb24iOiAzLAoJImZpbGUiOiAiLi4vQ29udGVudC9HZXRRdW90ZS5jc3MiLAoJInNvdXJjZXMiOiBbCgkJIi4uL0NvbnRlbnQvR2V0UXVvdGUuc2NzcyIsCgkJIi4uL0NvbnRlbnQvX3ZhcmlhYmxlcy5zY3NzIgoJXSwKCSJtYXBwaW5ncyI6ICJBQUVBLEFBQUEsTUFBTSxDQUFDO0VBQ0gsU0FBUyxFQUFFLEdBQUk7RUFDZixVQUFVLEVBQUUsSUFBSztFQUNqQixXQUFXLEVBQUUsSUFBSyxHQUNyQjs7QUFFRCxBQUFBLE1BQU0sQ0FBQztFQUNILEtBQUssRUFBRSxJQUFLO0VBQ1osTUFBTSxFQUFFLElBQUs7RUFDYixVQUFVLEVBQUUsT0FBUTtFQUNwQixNQUFNLEVBQUUsSUFBSztFQUNiLGFBQWEsRUFBRSxHQUFJO0VBQ25CLGtCQUFrQixFQUFFLENBQUMsQ0FBQyxHQUFHLENBQUMsR0FBRyxDQUFDLGtCQUFJO0VBQ2xDLFVBQVUsRUFBRSxDQUFDLENBQUMsR0FBRyxDQUFDLEdBQUcsQ0FBQyxrQkFBSTtFQUMxQixhQUFhLEVBQUUsSUFBSyxHQXNEdkI7RUE5REQsQUFVSSxNQVZFLENBVUYsS0FBSyxDQUFDO0lBQ0YsTUFBTSxFQUFFLEdBQUk7SUFDWixRQUFRLEVBQUUsUUFBUztJQUVuQixVQUFVLEVBQUUsVUFBSTtJQUNoQixVQUFVLEVBQUUsb0VBQW9CO0lBQ2hDLFVBQVUsRUFBRSxzSEFBZ0I7SUFDNUIsVUFBVSxFQUFFLHVFQUF1QjtJQUNuQyxVQUFVLEVBQUUsa0VBQWtCO0lBQzlCLFVBQVUsRUFBRSxtRUFBbUI7SUFDL0IsVUFBVSxFQUFFLG1FQUFlO0lBQzNCLE1BQU0sRUFBRSw0R0FBNEc7SUFDcEgsS0FBSyxFQUFFLEdBQUk7SUFDWCxLQUFLLEVBQUUsS0FBTTtJQUNiLFVBQVUsRUFBRSxJQUFLO0lBQ2pCLFlBQVksRUFBRSxJQUFLLEdBb0N0QjtJQTdETCxBQTZCUSxNQTdCRixDQVVGLEtBQUssQ0FtQkQsY0FBYyxDQUFDO01BQ1gsWUFBWSxFQUFFLEtBQU0sR0E4QnZCO01BNUJHLE1BQU0sQ0FBTixNQUFNLE1BQU0sU0FBUyxFQUFFLEtBQUs7UUFoQ3hDLEFBNkJRLE1BN0JGLENBVUYsS0FBSyxDQW1CRCxjQUFjLENBQUM7VUFJUCxZQUFZLEVBQUUsSUFBSyxHQTJCMUI7TUE1RFQsQUFvQ1ksTUFwQ04sQ0FVRixLQUFLLENBbUJELGNBQWMsQ0FPVixDQUFDLENBQUM7UUFDRSxPQUFPLEVBQUUsWUFBYTtRQUN0QixRQUFRLEVBQUUsUUFBUztRQUNuQixHQUFHLEVBQUUsR0FBSTtRQUNULEtBQUssRUFBRSxJQUFLLEdBbUJmO1FBM0RiLEFBMENnQixNQTFDVixDQVVGLEtBQUssQ0FtQkQsY0FBYyxDQU9WLENBQUMsQ0FNRyxRQUFRLENBQUM7VUFDTCxRQUFRLEVBQUUsUUFBUztVQUNuQixHQUFHLEVBQUUsS0FBTTtVQUNYLEtBQUssRUFBRSxPQUFRLEdBQ2xCO1FBOUNqQixBQWdEZ0IsTUFoRFYsQ0FVRixLQUFLLENBbUJELGNBQWMsQ0FPVixDQUFDLENBWUcsYUFBYSxDQUFDO1VBQ1YsUUFBUSxFQUFFLFFBQVM7VUFDbkIsR0FBRyxFQUFFLEtBQU07VUFDWCxLQUFLLEVDakRYLElBQUksR0RrREQ7UUFwRGpCLEFBc0RnQixNQXREVixDQVVGLEtBQUssQ0FtQkQsY0FBYyxDQU9WLENBQUMsQ0FrQkcsT0FBTyxDQUFDO1VBQ0osUUFBUSxFQUFFLFFBQVM7VUFDbkIsR0FBRyxFQUFFLEtBQU07VUFDWCxLQUFLLEVBQUUsT0FBUSxHQUNsQjs7QUFNakIsQUFBQSxRQUFRLENBQUM7RUFDTCxLQUFLLEVDaEVDLE9BQUc7RURpRVQsVUFBVSxFQUFFLElBQUs7RUFDakIsV0FBVyxFQUFFLElBQUssR0FDckI7O0FBRUQsQUFBQSxTQUFTLENBQUM7RUFDTixLQUFLLEVDdkVELE9BQU87RUR3RVgsVUFBVSxFQUFFLElBQUs7RUFDakIsV0FBVyxFQUFFLElBQUssR0FDckI7O0FBK0RELEFBN0RBLGNBNkRjLENBK0JWLHFDQUFxQyxFQS9CekMsQUE3REEsY0E2RGMsQ0FvQ1Ysd0NBQXdDLEVBcEM1QyxBQTdEQSxjQTZEYyxDQXdDVixnQ0FBZ0MsRUF4Q3BDLEFBN0RBLGNBNkRjLENBNkNWLG1DQUFtQyxFQXlDdkMsQUFuSkEsZ0NBbUpnQyxFQUloQyxBQXZKQSxtQ0F1Sm1DLENBdkpyQjtFQUNWLFFBQVEsRUFBRSxRQUFTO0VBQ25CLEdBQUcsRUFBRSxJQUFLO0VBQ1YsS0FBSyxFQ2pGQyxJQUFJO0VEa0ZWLFdBQVcsRUFBRSxJQUFLLEdBQ3JCOztBQUVELEFBQUEsY0FBYyxDQUFDO0VBQ1gsZ0JBQWdCLEVBQUUsT0FBRztFQUNyQixVQUFVLEVBQUUsS0FBTTtFQUNsQixhQUFhLEVBQUUsSUFBSyxHQUN2Qjs7QUFFRCxBQUFBLGFBQWEsQ0FBQztFQUNWLFVBQVUsRUMxRk4sT0FBTztFRDJGWCxVQUFVLEVBQUUsS0FBTTtFQUNsQixhQUFhLEVBQUUsSUFBSyxHQUN2Qjs7QUFFRCxBQUFBLFlBQVksQ0FBQztFQUNULFdBQVcsRUFBRSxJQUFLO0VBQ2xCLGNBQWMsRUFBRSxJQUFLLEdBaUJ4QjtFQW5CRCxBQUlJLFlBSlEsQ0FJUix3QkFBd0IsQ0FBQztJQUNyQixXQUFXLEVBQUUsS0FBTSxHQUN0QjtFQU5MLEFBUUksWUFSUSxDQVFSLDBCQUEwQixDQUFDO0lBQ3ZCLFdBQVcsRUFBRSxLQUFNLEdBQ3RCO0VBVkwsQUFZSSxZQVpRLENBWVIseUJBQXlCLENBQUM7SUFDdEIsV0FBVyxFQUFFLEtBQU0sR0FDdEI7RUFkTCxBQWdCSSxZQWhCUSxDQWdCUixvQkFBb0IsQ0FBQztJQUNqQixVQUFVLEVBQUUsSUFBSyxHQUNwQjs7QUFHTCxBQUFBLFlBQVksQ0FBQztFQUNULFdBQVcsRUFBRSxJQUFLO0VBQ2xCLGNBQWMsRUFBRSxJQUFLLEdBaUJ4QjtFQW5CRCxBQUlJLFlBSlEsQ0FJUix3QkFBd0IsQ0FBQztJQUNyQixXQUFXLEVBQUUsS0FBTSxHQUN0QjtFQU5MLEFBUUksWUFSUSxDQVFSLDBCQUEwQixDQUFDO0lBQ3ZCLFdBQVcsRUFBRSxLQUFNLEdBQ3RCO0VBVkwsQUFZSSxZQVpRLENBWVIseUJBQXlCLENBQUM7SUFDdEIsV0FBVyxFQUFFLEtBQU0sR0FDdEI7RUFkTCxBQWdCSSxZQWhCUSxDQWdCUixvQkFBb0IsQ0FBQztJQUNqQixVQUFVLEVBQUUsSUFBSyxHQUNwQjs7QUFHTCxBQUFBLGNBQWMsQ0FBQztFQUNYLFdBQVcsRUFBRSxJQUFLO0VBQ2xCLGNBQWMsRUFBRSxJQUFLLEdBNER4QjtFQTlERCxBQUlJLGNBSlUsQ0FJViw4QkFBOEIsQ0FBQztJQUMzQixXQUFXLEVBQUUsS0FBTSxHQUN0QjtFQU5MLEFBUUksY0FSVSxDQVFWLGdDQUFnQyxDQUFDO0lBQzdCLFdBQVcsRUFBRSxLQUFNLEdBQ3RCO0VBVkwsQUFZSSxjQVpVLENBWVYsK0JBQStCLENBQUM7SUFDNUIsV0FBVyxFQUFFLEtBQU0sR0FDdEI7RUFkTCxBQWdCSSxjQWhCVSxDQWdCVixtQ0FBbUMsQ0FBQztJQUNoQyxXQUFXLEVBQUUsS0FBTSxHQUN0QjtFQWxCTCxBQW9CSSxjQXBCVSxDQW9CVixxQ0FBcUMsQ0FBQztJQUNsQyxXQUFXLEVBQUUsS0FBTSxHQUN0QjtFQXRCTCxBQXdCSSxjQXhCVSxDQXdCVixvQ0FBb0MsQ0FBQztJQUNqQyxXQUFXLEVBQUUsS0FBTSxHQUN0QjtFQTFCTCxBQStCSSxjQS9CVSxDQStCVixxQ0FBcUMsQ0FBQztJQUVsQyxXQUFXLEVBQUUsSUFBSyxHQUNyQjtFQWxDTCxBQXdDSSxjQXhDVSxDQXdDVixnQ0FBZ0MsQ0FBQztJQUU3QixXQUFXLEVBQUUsSUFBSyxHQUNyQjtFQTNDTCxBQWlESSxjQWpEVSxDQWlEVixvQkFBb0IsQ0FBQztJQUNqQixVQUFVLEVBQUUsSUFBSyxHQUNwQjtFQW5ETCxBQXFESSxjQXJEVSxDQXFEVixPQUFPLENBQUM7SUFDSixTQUFTLEVBQUUsS0FBTTtJQUNqQixVQUFVLEVBQUUsSUFBSyxHQUNwQjtFQXhETCxBQTBESSxjQTFEVSxDQTBEVixZQUFZLENBQUM7SUFDVCxTQUFTLEVBQUUsS0FBTTtJQUNqQixVQUFVLEVBQUUsSUFBSyxHQUNwQjs7QUFJTCxBQUFBLGFBQWEsQ0FBQztFQUNWLFdBQVcsRUFBRSxJQUFLO0VBQ2xCLGNBQWMsRUFBRSxJQUFLLEdBaUJ4QjtFQW5CRCxBQUlJLGFBSlMsQ0FJVCx3Q0FBd0MsQ0FBQztJQUNyQyxXQUFXLEVBQUUsS0FBTSxHQUN0QjtFQU5MLEFBUUksYUFSUyxDQVFULDBDQUEwQyxDQUFDO0lBQ3ZDLFdBQVcsRUFBRSxLQUFNLEdBQ3RCO0VBVkwsQUFZSSxhQVpTLENBWVQseUNBQXlDLENBQUM7SUFDdEMsV0FBVyxFQUFFLEtBQU0sR0FDdEI7RUFkTCxBQWdCSSxhQWhCUyxDQWdCVCxvQkFBb0IsQ0FBQztJQUNqQixVQUFVLEVBQUUsSUFBSyxHQUNwQjs7QUFZTCxBQUFBLGFBQWEsQ0FBQztFQUNWLFdBQVcsRUFBRSxJQUFLO0VBQ2xCLGNBQWMsRUFBRSxJQUFLLEdBZXhCO0VBakJELEFBSUksYUFKUyxDQUlULG9CQUFvQixDQUFDO0lBQ2pCLFVBQVUsRUFBRSxJQUFLO0lBQ2pCLGFBQWEsRUFBRSxJQUFLLEdBQ3ZCO0VBUEwsQUFTSSxhQVRTLENBU1QsV0FBVyxDQUFDO0lBQ1IsVUFBVSxFQUFFLElBQUs7SUFDakIsYUFBYSxFQUFFLElBQUssR0FDdkI7RUFaTCxBQWNHLGFBZFUsQ0FjVixnQ0FBZ0MsQ0FBQztJQUM1QixhQUFhLEVBQUUsS0FBTSxHQUN4Qjs7QUFHTCxBQUFBLFlBQVksQ0FBQztFQUNULFNBQVMsRUFBRSxJQUFLLEdBQ25COztBQUVELEFBQVUsVUFBQSxBQUFBLFVBQVUsQ0FBQztFQUNqQixVQUFVLEVBQUUsSUFBSyxHQUNwQjs7QUFFRCxBQUFBLEtBQUssQ0FBQztFQUNGLFNBQVMsRUFBRSxLQUFNLEdBQ3BCIiwKCSJuYW1lcyI6IFtdCn0= */