.panel {
   
    margin-top: 90px;
}
label {
    margin-top:0px;
    font-size:1.4em;
}
.checkbox{
    margin-left: 28px;
}
.form-group{
    h3{
        padding-left: 20px;
    }
}
.hyperlink {
   
    margin-left: 155px;
}
#MainContent_LoginBut{
    margin-top: 20px;
    margin-bottom: 20px;
}