.main {
  margin-top: 80px;
  min-height: 700px; }

.panel-body {
  min-height: 500px; }

.details {
  margin-top: 60px;
  margin-bottom: 60px; }

.buttons {
  margin-bottom: 30px; }

.TdDet {
  color: #aaa;
  font-size: 1.5em;
  position: relative;
  top: 6px; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus {
  box-shadow: inset 0 -2px 0 green;
  color: green; }
  .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus:hover {
    color: green; }
  .nav-tabs > li.active > a:active, .nav-tabs > li.active > a:focus:active {
    color: green; }

#MainContent_GridView1 th {
  font-size: 2em; }

#MainContent_GridView1 td, #MainContent_GridView1 th {
  border: none;
  padding: 20px; }

a {
  color: #aaa; }

table {
  border: none; }

.panel-body .message {
  min-height: 30px; }

.upload {
  margin-top: 30px; }
  .upload #MainContent_Button1 {
    margin-top: 20px; }

.fa-file-text:before {
  font-size: 3em;
  color: green; }

#chatRoomBtn:focus {
  outline: none; }

footer {
  display: none; }

.chat-panel-main {
  box-shadow: none; }

.chat-panel {
  margin: 0 auto;
  width: 280px; }
  .chat-panel .panel-body {
    min-height: 460px;
    max-height: 460px;
    overflow-y: auto; }
  .chat-panel .panel-heading .panel-title {
    font-size: 1.3em;
    padding-left: 20px;
    font-weight: 500;
    text-align: center; }
  .chat-panel .panel-heading #closeChat {
    float: right;
    color: #666;
    margin-top: 2px;
    margin-right: 5px; }
    .chat-panel .panel-heading #closeChat:hover {
      color: #f82c2c; }
  .chat-panel .form-inline {
    margin-bottom: -32px; }
  .chat-panel .form-group .input-group-addon {
    text-align: right;
    position: relative;
    right: -15px;
    top: -30px; }
    .chat-panel .form-group .input-group-addon .fa-paper-plane-o {
      color: #666;
      font-size: 2em; }
      .chat-panel .form-group .input-group-addon .fa-paper-plane-o:hover {
        color: #999; }
  .chat-panel .form-group textarea {
    min-width: 200px;
    max-width: 200px;
    max-height: 135px; }
    .chat-panel .form-group textarea:focus {
      outline: none; }

#boardMessages {
  padding-left: 10px;
  padding-right: 10px; }
  #boardMessages .left p {
    margin: 0;
    padding: 0;
    font-size: .9em; }
    #boardMessages .left p i {
      font-size: 1.7em;
      margin-left: 6px;
      margin-right: 9px; }
  #boardMessages .left div {
    padding-top: 10px;
    padding-left: 20px;
    font-size: 1.1em; }
  #boardMessages .well {
    padding: 10px;
    margin-bottom: 10px; }

#slide-wrapper {
  display: none; }

.popover > .arrow {
  visibility: hidden; }

.popover {
  font-size: 15px; }

.fa-dot-circle-o {
  margin-top: 5px;
  font-size: 1.6em !important;
  color: green; }
  .fa-dot-circle-o:hover {
    color: #95d37c;
    font-size: 1.7em !important; }

.panel-success {
  border: 1px solid #95d37c; }

.success {
  background: #4caf50 !important;
  color: white !important; }

#input {
  display: none; }

#waiting {
  position: relative;
  display: inline;
  font-size: 1.1em;
  text-align: center;
  top: 150px;
  left: -5px; }
  #waiting .fa-users {
    font-size: 1.5em;
    margin-right: 10px; }

/*# sourceMappingURL=data:application/json;base64,ewoJInZlcnNpb24iOiAzLAoJImZpbGUiOiAiLi4vQ29udGVudC9NeXBhZ2UuY3NzIiwKCSJzb3VyY2VzIjogWwoJCSIuLi9Db250ZW50L015cGFnZS5zY3NzIiwKCQkiLi4vQ29udGVudC9fdmFyaWFibGVzLnNjc3MiCgldLAoJIm1hcHBpbmdzIjogIkFBRUEsQUFBQSxLQUFLLENBQUM7RUFDRixVQUFVLEVBQUUsSUFBSztFQUNqQixVQUFVLEVBQUUsS0FBTSxHQUNyQjs7QUFFRCxBQUFBLFdBQVcsQ0FBQztFQUNSLFVBQVUsRUFBRSxLQUFNLEdBQ3JCOztBQUVELEFBQUEsUUFBUSxDQUFDO0VBQ0wsVUFBVSxFQUFFLElBQUs7RUFDakIsYUFBYSxFQUFFLElBQUssR0FDdkI7O0FBRUQsQUFBQSxRQUFRLENBQUM7RUFDTCxhQUFhLEVBQUUsSUFBSyxHQUN2Qjs7QUFFRCxBQUFBLE1BQU0sQ0FBQztFQUNILEtBQUssRUNWTSxJQUFJO0VEV2YsU0FBUyxFQUFFLEtBQU07RUFDakIsUUFBUSxFQUFFLFFBQVM7RUFDbkIsR0FBRyxFQUFFLEdBQUksR0FDWjs7QUFFRCxBQUF3QixTQUFmLEdBQUcsRUFBRSxBQUFBLE9BQU8sR0FBRyxDQUFDLEVBQUUsQUFBeUIsU0FBaEIsR0FBRyxFQUFFLEFBQUEsT0FBTyxHQUFHLENBQUMsQUFBQSxNQUFNLENBQUM7RUFDdkQsVUFBVSxFQUFFLG9CQUFxQjtFQUNqQyxLQUFLLEVBQUUsS0FBTSxHQVNoQjtFQVhELEFBQXdCLFNBQWYsR0FBRyxFQUFFLEFBQUEsT0FBTyxHQUFHLENBQUMsQUFJcEIsTUFBTSxFQUpnQixBQUF5QixTQUFoQixHQUFHLEVBQUUsQUFBQSxPQUFPLEdBQUcsQ0FBQyxBQUFBLE1BQU0sQUFJckQsTUFBTSxDQUFDO0lBQ0osS0FBSyxFQUFFLEtBQU0sR0FDaEI7RUFOTCxBQUF3QixTQUFmLEdBQUcsRUFBRSxBQUFBLE9BQU8sR0FBRyxDQUFDLEFBUXBCLE9BQU8sRUFSZSxBQUF5QixTQUFoQixHQUFHLEVBQUUsQUFBQSxPQUFPLEdBQUcsQ0FBQyxBQUFBLE1BQU0sQUFRckQsT0FBTyxDQUFDO0lBQ0wsS0FBSyxFQUFFLEtBQU0sR0FDaEI7O0FBR0wsQUFDSSxzQkFEa0IsQ0FDbEIsRUFBRSxDQUFDO0VBQ0MsU0FBUyxFQUFFLEdBQUksR0FDbEI7O0FBSEwsQUFLSSxzQkFMa0IsQ0FLbEIsRUFBRSxFQUxOLEFBS1Esc0JBTGMsQ0FLZCxFQUFFLENBQUM7RUFDSCxNQUFNLEVBQUUsSUFBSztFQUNiLE9BQU8sRUFBRSxJQUFLLEdBQ2pCOztBQUdMLEFBQUEsQ0FBQyxDQUFDO0VBQ0UsS0FBSyxFQ3pDTSxJQUFJLEdEMENsQjs7QUFFRCxBQUFBLEtBQUssQ0FBQztFQUNGLE1BQU0sRUFBRSxJQUFLLEdBQ2hCOztBQUVELEFBQVksV0FBRCxDQUFDLFFBQVEsQ0FBQztFQUNqQixVQUFVLEVBQUUsSUFBSyxHQUNwQjs7QUFFRCxBQUFBLE9BQU8sQ0FBQztFQUNKLFVBQVUsRUFBRSxJQUFLLEdBS3BCO0VBTkQsQUFHSSxPQUhHLENBR0gsb0JBQW9CLENBQUM7SUFDakIsVUFBVSxFQUFFLElBQUssR0FDcEI7O0FBR0wsQUFBYSxhQUFBLEFBQUEsT0FBTyxDQUFDO0VBQ2pCLFNBQVMsRUFBRSxHQUFJO0VBQ2YsS0FBSyxFQUFFLEtBQU0sR0FDaEI7O0FBRUQsQUFBQSxZQUFZLEFBRVAsTUFBTSxDQUFDO0VBQ0osT0FBTyxFQUFFLElBQUssR0FDakI7O0FBR0wsQUFBQSxNQUFNLENBQUM7RUFDSCxPQUFPLEVBQUUsSUFBSyxHQUNqQjs7QUFFRCxBQUFBLGdCQUFnQixDQUFDO0VBQ2IsVUFBVSxFQUFFLElBQUssR0FDcEI7O0FBR0QsQUFBQSxXQUFXLENBQUM7RUFDUixNQUFNLEVBQUUsTUFBTztFQUNmLEtBQUssRUFBRSxLQUFNLEdBNERoQjtFQTlERCxBQUlJLFdBSk8sQ0FJUCxXQUFXLENBQUM7SUFDUixVQUFVLEVBQUUsS0FBTTtJQUNsQixVQUFVLEVBQUUsS0FBTTtJQUNsQixVQUFVLEVBQUUsSUFBSyxHQUNwQjtFQVJMLEFBWVEsV0FaRyxDQVVQLGNBQWMsQ0FFVixZQUFZLENBQUM7SUFDVCxTQUFTLEVBQUUsS0FBTTtJQUNqQixZQUFZLEVBQUUsSUFBSztJQUNuQixXQUFXLEVBQUUsR0FBSTtJQUNqQixVQUFVLEVBQUUsTUFBTyxHQUN0QjtFQWpCVCxBQW1CUSxXQW5CRyxDQVVQLGNBQWMsQ0FTVixVQUFVLENBQUM7SUFDUCxLQUFLLEVBQUUsS0FBTTtJQUNiLEtBQUssRUMzR1AsSUFBSTtJRDRHRixVQUFVLEVBQUUsR0FBSTtJQUNoQixZQUFZLEVBQUUsR0FBSSxHQUtyQjtJQTVCVCxBQW1CUSxXQW5CRyxDQVVQLGNBQWMsQ0FTVixVQUFVLEFBTUwsTUFBTSxDQUFDO01BQ0osS0FBSyxFQzlHYixPQUFPLEdEK0dGO0VBM0JiLEFBK0JJLFdBL0JPLENBK0JQLFlBQVksQ0FBQztJQUNULGFBQWEsRUFBRSxLQUFNLEdBQ3hCO0VBakNMLEFBb0NRLFdBcENHLENBbUNQLFdBQVcsQ0FDUCxrQkFBa0IsQ0FBQztJQUNmLFVBQVUsRUFBRSxLQUFNO0lBQ2xCLFFBQVEsRUFBRSxRQUFTO0lBQ25CLEtBQUssRUFBRSxLQUFNO0lBQ2IsR0FBRyxFQUFFLEtBQU0sR0FVZDtJQWxEVCxBQTBDWSxXQTFDRCxDQW1DUCxXQUFXLENBQ1Asa0JBQWtCLENBTWQsaUJBQWlCLENBQUM7TUFDZCxLQUFLLEVDaklYLElBQUk7TURrSUUsU0FBUyxFQUFFLEdBQUksR0FLbEI7TUFqRGIsQUEwQ1ksV0ExQ0QsQ0FtQ1AsV0FBVyxDQUNQLGtCQUFrQixDQU1kLGlCQUFpQixBQUlaLE1BQU0sQ0FBQztRQUNKLEtBQUssRUNwSVYsSUFBSSxHRHFJRjtFQWhEakIsQUFvRFEsV0FwREcsQ0FtQ1AsV0FBVyxDQWlCUCxRQUFRLENBQUM7SUFDTCxTQUFTLEVBQUUsS0FBTTtJQUNqQixTQUFTLEVBQUUsS0FBTTtJQUNqQixVQUFVLEVBQUUsS0FBTSxHQUtyQjtJQTVEVCxBQW9EUSxXQXBERyxDQW1DUCxXQUFXLENBaUJQLFFBQVEsQUFLSCxNQUFNLENBQUM7TUFDSixPQUFPLEVBQUUsSUFBSyxHQUNqQjs7QUFLYixBQUFBLGNBQWMsQ0FBQztFQUNYLFlBQVksRUFBRSxJQUFLO0VBQ25CLGFBQWEsRUFBRSxJQUFLLEdBMEJ2QjtFQTVCRCxBQUtRLGNBTE0sQ0FJVixLQUFLLENBQ0QsQ0FBQyxDQUFDO0lBQ0UsTUFBTSxFQUFFLENBQUU7SUFDVixPQUFPLEVBQUUsQ0FBRTtJQUNYLFNBQVMsRUFBRSxJQUFLLEdBT25CO0lBZlQsQUFVWSxjQVZFLENBSVYsS0FBSyxDQUNELENBQUMsQ0FLRyxDQUFDLENBQUM7TUFDRSxTQUFTLEVBQUUsS0FBTTtNQUNqQixXQUFXLEVBQUUsR0FBSTtNQUNqQixZQUFZLEVBQUUsR0FBSSxHQUNyQjtFQWRiLEFBaUJRLGNBakJNLENBSVYsS0FBSyxDQWFELEdBQUcsQ0FBQztJQUNBLFdBQVcsRUFBRSxJQUFLO0lBQ2xCLFlBQVksRUFBRSxJQUFLO0lBQ25CLFNBQVMsRUFBRSxLQUFNLEdBQ3BCO0VBckJULEFBd0JJLGNBeEJVLENBd0JWLEtBQUssQ0FBQztJQUNGLE9BQU8sRUFBRSxJQUFLO0lBQ2QsYUFBYSxFQUFFLElBQUssR0FDdkI7O0FBR0wsQUFBQSxjQUFjLENBQUM7RUFDWCxPQUFPLEVBQUUsSUFBSyxHQUNqQjs7QUFFRCxBQUFXLFFBQUgsR0FBRyxNQUFNLENBQUM7RUFDZCxVQUFVLEVBQUUsTUFBTyxHQUN0Qjs7QUFFRCxBQUFBLFFBQVEsQ0FBQztFQUNMLFNBQVMsRUFBRSxJQUFLLEdBQ25COztBQUVELEFBQUEsZ0JBQWdCLENBQUM7RUFDYixVQUFVLEVBQUUsR0FBSTtFQUNoQixTQUFTLEVBQUUsZ0JBQWlCO0VBQzVCLEtBQUssRUFBRSxLQUFNLEdBTWhCO0VBVEQsQUFBQSxnQkFBZ0IsQUFLWCxNQUFNLENBQUM7SUFDSixLQUFLLEVDbk1ILE9BQUc7SURvTUwsU0FBUyxFQUFFLGdCQUFpQixHQUMvQjs7QUFHTCxBQUFBLGNBQWMsQ0FBQztFQUNYLE1BQU0sRUFBRSxHQUFHLENBQUMsS0FBSyxDQ3pNWCxPQUFHLEdEME1aOztBQUVELEFBQUEsUUFBUSxDQUFDO0VBQ0wsVUFBVSxFQzFNSCxPQUFPLENEME1RLFVBQVU7RUFDaEMsS0FBSyxFQUFFLGdCQUFpQixHQUMzQjs7QUFFRCxBQUFBLE1BQU0sQ0FBQztFQUNILE9BQU8sRUFBRSxJQUFLLEdBQ2pCOztBQUVELEFBQUEsUUFBUSxDQUFDO0VBQ0wsUUFBUSxFQUFFLFFBQVM7RUFDbkIsT0FBTyxFQUFFLE1BQU87RUFDaEIsU0FBUyxFQUFFLEtBQU07RUFDakIsVUFBVSxFQUFFLE1BQU87RUFDbkIsR0FBRyxFQUFFLEtBQU07RUFDWCxJQUFJLEVBQUUsSUFBSyxHQU1kO0VBWkQsQUFRSSxRQVJJLENBUUosU0FBUyxDQUFDO0lBQ04sU0FBUyxFQUFFLEtBQU07SUFDakIsWUFBWSxFQUFFLElBQUssR0FDdEIiLAoJIm5hbWVzIjogW10KfQ== */