.main {
  margin-top: 80px;
  min-height: 700px; }

.panel-body {
  min-height: 500px; }

.details {
  margin-top: 60px;
  margin-bottom: 60px; }

.buttons {
  margin-bottom: 30px; }

.TdDet {
  color: #aaa;
  font-size: 1.5em;
  position: relative;
  top: 6px; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus {
  box-shadow: inset 0 -2px 0 green;
  color: green; }
  .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus:hover {
    color: green; }
  .nav-tabs > li.active > a:active, .nav-tabs > li.active > a:focus:active {
    color: green; }

#MainContent_GridView1 th {
  font-size: 2em; }

#MainContent_GridView1 td, #MainContent_GridView1 th {
  border: none;
  padding: 20px; }

a {
  color: #aaa; }

table {
  border: none; }

.panel-body .message {
  min-height: 30px; }

.upload {
  margin-top: 30px; }
  .upload #MainContent_Button1 {
    margin-top: 20px; }

.fa-file-text:before {
  font-size: 3em;
  color: green; }

#chatRoomBtn:focus {
  outline: none; }

footer {
  display: none; }

.chat-panel-main {
  box-shadow: none; }

.chat-panel {
  margin: 0 auto;
  width: 340px; }
  .chat-panel .panel-body {
    min-height: 460px;
    max-height: 460px;
    overflow-y: auto; }
  .chat-panel .panel-heading .panel-title {
    font-size: 1.3em;
    font-weight: 500;
    text-align: center; }
  .chat-panel .panel-heading #closeChat {
    float: right;
    color: #666;
    margin-top: 2px;
    margin-right: 5px; }
    .chat-panel .panel-heading #closeChat:hover {
      color: #f82c2c; }
  .chat-panel .form-inline {
    margin-bottom: -32px; }
  .chat-panel .form-group .input-group-addon {
    text-align: right;
    position: relative;
    right: -5px;
    top: -40px; }
    .chat-panel .form-group .input-group-addon .fa-paper-plane-o {
      color: #666;
      font-size: 2.3em; }
      .chat-panel .form-group .input-group-addon .fa-paper-plane-o:hover {
        color: #999; }
  .chat-panel .form-group textarea {
    min-width: 240px;
    max-width: 240px;
    max-height: 135px; }
    .chat-panel .form-group textarea:focus {
      outline: none; }

#boardMessages .right p {
  text-align: right; }

#boardMessages .right .fa-commenting-o {
  position: relative;
  left: 273px;
  transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1); }

#slide-wrapper {
  display: none; }

.popover > .arrow {
  visibility: hidden; }

.popover {
  font-size: 15px; }

.fa-dot-circle-o {
  margin-top: 5px;
  font-size: 1.6em !important;
  color: green; }
  .fa-dot-circle-o:hover {
    color: #95d37c;
    font-size: 1.7em !important; }

.panel-success {
  border: 1px solid #95d37c; }

.success {
  background: #95d37c !important;
  color: white !important; }

/*# sourceMappingURL=data:application/json;base64,ewoJInZlcnNpb24iOiAzLAoJImZpbGUiOiAiLi4vQ29udGVudC9NeXBhZ2UuY3NzIiwKCSJzb3VyY2VzIjogWwoJCSIuLi9Db250ZW50L015cGFnZS5zY3NzIiwKCQkiLi4vQ29udGVudC9fdmFyaWFibGVzLnNjc3MiCgldLAoJIm1hcHBpbmdzIjogIkFBRUEsQUFBQSxLQUFLLENBQUM7RUFDRixVQUFVLEVBQUUsSUFBSztFQUNqQixVQUFVLEVBQUUsS0FBTSxHQUNyQjs7QUFFRCxBQUFBLFdBQVcsQ0FBQztFQUNSLFVBQVUsRUFBRSxLQUFNLEdBQ3JCOztBQUVELEFBQUEsUUFBUSxDQUFDO0VBQ0wsVUFBVSxFQUFFLElBQUs7RUFDakIsYUFBYSxFQUFFLElBQUssR0FDdkI7O0FBRUQsQUFBQSxRQUFRLENBQUM7RUFDTCxhQUFhLEVBQUUsSUFBSyxHQUN2Qjs7QUFFRCxBQUFBLE1BQU0sQ0FBQztFQUNILEtBQUssRUNWTSxJQUFJO0VEV2YsU0FBUyxFQUFFLEtBQU07RUFDakIsUUFBUSxFQUFFLFFBQVM7RUFDbkIsR0FBRyxFQUFFLEdBQUksR0FDWjs7QUFFRCxBQUF3QixTQUFmLEdBQUcsRUFBRSxBQUFBLE9BQU8sR0FBRyxDQUFDLEVBQUUsQUFBeUIsU0FBaEIsR0FBRyxFQUFFLEFBQUEsT0FBTyxHQUFHLENBQUMsQUFBQSxNQUFNLENBQUM7RUFDdkQsVUFBVSxFQUFFLG9CQUFxQjtFQUNqQyxLQUFLLEVBQUUsS0FBTSxHQVNoQjtFQVhELEFBQXdCLFNBQWYsR0FBRyxFQUFFLEFBQUEsT0FBTyxHQUFHLENBQUMsQUFJcEIsTUFBTSxFQUpnQixBQUF5QixTQUFoQixHQUFHLEVBQUUsQUFBQSxPQUFPLEdBQUcsQ0FBQyxBQUFBLE1BQU0sQUFJckQsTUFBTSxDQUFDO0lBQ0osS0FBSyxFQUFFLEtBQU0sR0FDaEI7RUFOTCxBQUF3QixTQUFmLEdBQUcsRUFBRSxBQUFBLE9BQU8sR0FBRyxDQUFDLEFBUXBCLE9BQU8sRUFSZSxBQUF5QixTQUFoQixHQUFHLEVBQUUsQUFBQSxPQUFPLEdBQUcsQ0FBQyxBQUFBLE1BQU0sQUFRckQsT0FBTyxDQUFDO0lBQ0wsS0FBSyxFQUFFLEtBQU0sR0FDaEI7O0FBR0wsQUFDSSxzQkFEa0IsQ0FDbEIsRUFBRSxDQUFDO0VBQ0MsU0FBUyxFQUFFLEdBQUksR0FDbEI7O0FBSEwsQUFLSSxzQkFMa0IsQ0FLbEIsRUFBRSxFQUxOLEFBS1Esc0JBTGMsQ0FLZCxFQUFFLENBQUM7RUFDSCxNQUFNLEVBQUUsSUFBSztFQUNiLE9BQU8sRUFBRSxJQUFLLEdBQ2pCOztBQUdMLEFBQUEsQ0FBQyxDQUFDO0VBQ0UsS0FBSyxFQ3pDTSxJQUFJLEdEMENsQjs7QUFFRCxBQUFBLEtBQUssQ0FBQztFQUNGLE1BQU0sRUFBRSxJQUFLLEdBQ2hCOztBQUVELEFBQVksV0FBRCxDQUFDLFFBQVEsQ0FBQztFQUNqQixVQUFVLEVBQUUsSUFBSyxHQUNwQjs7QUFFRCxBQUFBLE9BQU8sQ0FBQztFQUNKLFVBQVUsRUFBRSxJQUFLLEdBS3BCO0VBTkQsQUFHSSxPQUhHLENBR0gsb0JBQW9CLENBQUM7SUFDakIsVUFBVSxFQUFFLElBQUssR0FDcEI7O0FBR0wsQUFBYSxhQUFBLEFBQUEsT0FBTyxDQUFDO0VBQ2pCLFNBQVMsRUFBRSxHQUFJO0VBQ2YsS0FBSyxFQUFFLEtBQU0sR0FDaEI7O0FBRUQsQUFBQSxZQUFZLEFBRVAsTUFBTSxDQUFDO0VBQ0osT0FBTyxFQUFFLElBQUssR0FDakI7O0FBR0wsQUFBQSxNQUFNLENBQUM7RUFDSCxPQUFPLEVBQUUsSUFBSyxHQUNqQjs7QUFFRCxBQUFBLGdCQUFnQixDQUFDO0VBQ2IsVUFBVSxFQUFFLElBQUssR0FDcEI7O0FBR0QsQUFBQSxXQUFXLENBQUM7RUFDUixNQUFNLEVBQUUsTUFBTztFQUNmLEtBQUssRUFBRSxLQUFNLEdBMkRoQjtFQTdERCxBQUlJLFdBSk8sQ0FJUCxXQUFXLENBQUM7SUFDUixVQUFVLEVBQUUsS0FBTTtJQUNsQixVQUFVLEVBQUUsS0FBTTtJQUNsQixVQUFVLEVBQUUsSUFBSyxHQUNwQjtFQVJMLEFBWVEsV0FaRyxDQVVQLGNBQWMsQ0FFVixZQUFZLENBQUM7SUFDVCxTQUFTLEVBQUUsS0FBTTtJQUNqQixXQUFXLEVBQUUsR0FBSTtJQUNqQixVQUFVLEVBQUUsTUFBTyxHQUN0QjtFQWhCVCxBQWtCUSxXQWxCRyxDQVVQLGNBQWMsQ0FRVixVQUFVLENBQUM7SUFDUCxLQUFLLEVBQUUsS0FBTTtJQUNiLEtBQUssRUMxR1AsSUFBSTtJRDJHRixVQUFVLEVBQUUsR0FBSTtJQUNoQixZQUFZLEVBQUUsR0FBSSxHQUtyQjtJQTNCVCxBQWtCUSxXQWxCRyxDQVVQLGNBQWMsQ0FRVixVQUFVLEFBTUwsTUFBTSxDQUFDO01BQ0osS0FBSyxFQzdHYixPQUFPLEdEOEdGO0VBMUJiLEFBOEJJLFdBOUJPLENBOEJQLFlBQVksQ0FBQztJQUNULGFBQWEsRUFBRSxLQUFNLEdBQ3hCO0VBaENMLEFBbUNRLFdBbkNHLENBa0NQLFdBQVcsQ0FDUCxrQkFBa0IsQ0FBQztJQUNmLFVBQVUsRUFBRSxLQUFNO0lBQ2xCLFFBQVEsRUFBRSxRQUFTO0lBQ25CLEtBQUssRUFBRSxJQUFLO0lBQ1osR0FBRyxFQUFFLEtBQU0sR0FVZDtJQWpEVCxBQXlDWSxXQXpDRCxDQWtDUCxXQUFXLENBQ1Asa0JBQWtCLENBTWQsaUJBQWlCLENBQUM7TUFDZCxLQUFLLEVDaElYLElBQUk7TURpSUUsU0FBUyxFQUFFLEtBQU0sR0FLcEI7TUFoRGIsQUF5Q1ksV0F6Q0QsQ0FrQ1AsV0FBVyxDQUNQLGtCQUFrQixDQU1kLGlCQUFpQixBQUlaLE1BQU0sQ0FBQztRQUNKLEtBQUssRUNuSVYsSUFBSSxHRG9JRjtFQS9DakIsQUFtRFEsV0FuREcsQ0FrQ1AsV0FBVyxDQWlCUCxRQUFRLENBQUM7SUFDTCxTQUFTLEVBQUUsS0FBTTtJQUNqQixTQUFTLEVBQUUsS0FBTTtJQUNqQixVQUFVLEVBQUUsS0FBTSxHQUtyQjtJQTNEVCxBQW1EUSxXQW5ERyxDQWtDUCxXQUFXLENBaUJQLFFBQVEsQUFLSCxNQUFNLENBQUM7TUFDSixPQUFPLEVBQUUsSUFBSyxHQUNqQjs7QUFLYixBQUVRLGNBRk0sQ0FDVixNQUFNLENBQ0YsQ0FBQyxDQUFDO0VBQ0UsVUFBVSxFQUFFLEtBQU0sR0FDckI7O0FBSlQsQUFNUSxjQU5NLENBQ1YsTUFBTSxDQUtGLGdCQUFnQixDQUFDO0VBQ2IsUUFBUSxFQUFFLFFBQVM7RUFDbkIsSUFBSSxFQUFFLEtBQU07RUFDWixTQUFTLEVBQUUsVUFBTTtFQUNqQixjQUFjLEVBQUUsVUFBTTtFQUN0QixpQkFBaUIsRUFBRSxVQUFNO0VBQ3pCLGFBQWEsRUFBRSxVQUFNLEdBQ3hCOztBQUlULEFBQUEsY0FBYyxDQUFDO0VBQ1gsT0FBTyxFQUFFLElBQUssR0FDakI7O0FBRUQsQUFBVyxRQUFILEdBQUcsTUFBTSxDQUFDO0VBQ2QsVUFBVSxFQUFFLE1BQU8sR0FDdEI7O0FBRUQsQUFBQSxRQUFRLENBQUM7RUFDTCxTQUFTLEVBQUUsSUFBSyxHQUNuQjs7QUFFRCxBQUFBLGdCQUFnQixDQUFDO0VBQ2IsVUFBVSxFQUFFLEdBQUk7RUFDaEIsU0FBUyxFQUFFLGdCQUFpQjtFQUM1QixLQUFLLEVBQUUsS0FBTSxHQU1oQjtFQVRELEFBQUEsZ0JBQWdCLEFBS1gsTUFBTSxDQUFDO0lBQ0osS0FBSyxFQ3JMSCxPQUFHO0lEc0xMLFNBQVMsRUFBRSxnQkFBaUIsR0FDL0I7O0FBRUwsQUFBQSxjQUFjLENBQUM7RUFDWCxNQUFNLEVBQUUsR0FBRyxDQUFDLEtBQUssQ0MxTFgsT0FBRyxHRDJMWjs7QUFDRCxBQUFBLFFBQVEsQ0FBQTtFQUNKLFVBQVUsRUM3TEosT0FBRyxDRDZMWSxVQUFVO0VBQy9CLEtBQUssRUFBRSxnQkFBaUIsR0FDM0IiLAoJIm5hbWVzIjogW10KfQ== */