.main {
  margin-top: 80px;
  min-height: 700px; }

.panel-body {
  min-height: 500px; }

.details {
  margin-top: 60px;
  margin-bottom: 60px; }

.buttons {
  margin-bottom: 30px; }

.TdDet {
  color: #aaa;
  font-size: 1.5em;
  position: relative;
  top: 6px; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus {
  box-shadow: inset 0 -2px 0 green;
  color: green; }
  .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus:hover {
    color: green; }
  .nav-tabs > li.active > a:active, .nav-tabs > li.active > a:focus:active {
    color: green; }

#MainContent_GridView1 th {
  font-size: 2em; }

#MainContent_GridView1 td, #MainContent_GridView1 th {
  border: none;
  padding: 20px; }

a {
  color: #aaa; }

table {
  border: none; }

.panel-body .message {
  min-height: 30px; }

.upload {
  margin-top: 30px; }
  .upload #MainContent_Button1 {
    margin-top: 20px; }

.fa-file-text:before {
  font-size: 3em;
  color: green; }

.panel-success {
  border: 1px solid #95d37c; }

#chatRoomBtn:focus {
  outline: none; }

footer {
  display: none; }

.chat-panel-main {
  box-shadow: none; }

.chat-panel {
  margin: 0 auto;
  width: 340px; }
  .chat-panel .panel-body {
    min-height: 460px;
    max-height: 460px;
    overflow-y: scroll; }
  .chat-panel .panel-heading .panel-title {
    font-size: 1.3em;
    font-weight: 500; }
  .chat-panel .panel-heading #closeChat {
    float: right;
    color: #666;
    margin-top: 2px;
    margin-right: 5px; }
    .chat-panel .panel-heading #closeChat:hover {
      color: #f82c2c; }
  .chat-panel .form-inline {
    margin-bottom: -32px; }
  .chat-panel .form-group .input-group-addon {
    text-align: right;
    position: relative;
    right: -5px;
    top: -40px; }
    .chat-panel .form-group .input-group-addon .fa-paper-plane-o {
      color: #666;
      font-size: 2.3em; }
      .chat-panel .form-group .input-group-addon .fa-paper-plane-o:hover {
        color: #999; }
  .chat-panel .form-group textarea {
    min-width: 240px;
    max-width: 240px;
    max-height: 135px; }
    .chat-panel .form-group textarea:focus {
      outline: none; }

#boardMessages .right p {
  text-align: right; }

#boardMessages .right .fa-commenting-o {
  position: relative;
  left: 273px;
  transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1); }

#slide-wrapper {
  display: none; }

.fa-dot-circle-o {
  margin-top: 5px;
  font-size: 1.6em !important;
  color: green; }
  .fa-dot-circle-o:hover {
    color: #95d37c;
    font-size: 1.7em !important; }

/*# sourceMappingURL=data:application/json;base64,ewoJInZlcnNpb24iOiAzLAoJImZpbGUiOiAiLi4vQ29udGVudC9NeXBhZ2UuY3NzIiwKCSJzb3VyY2VzIjogWwoJCSIuLi9Db250ZW50L015cGFnZS5zY3NzIiwKCQkiLi4vQ29udGVudC9fdmFyaWFibGVzLnNjc3MiCgldLAoJIm1hcHBpbmdzIjogIkFBRUEsQUFBQSxLQUFLLENBQUM7RUFDRixVQUFVLEVBQUUsSUFBSztFQUNqQixVQUFVLEVBQUUsS0FBTSxHQUNyQjs7QUFFRCxBQUFBLFdBQVcsQ0FBQztFQUNSLFVBQVUsRUFBRSxLQUFNLEdBQ3JCOztBQUVELEFBQUEsUUFBUSxDQUFDO0VBQ0wsVUFBVSxFQUFFLElBQUs7RUFDakIsYUFBYSxFQUFFLElBQUssR0FDdkI7O0FBRUQsQUFBQSxRQUFRLENBQUM7RUFDTCxhQUFhLEVBQUUsSUFBSyxHQUN2Qjs7QUFFRCxBQUFBLE1BQU0sQ0FBQztFQUNILEtBQUssRUNWTSxJQUFJO0VEV2YsU0FBUyxFQUFFLEtBQU07RUFDakIsUUFBUSxFQUFFLFFBQVM7RUFDbkIsR0FBRyxFQUFFLEdBQUksR0FDWjs7QUFFRCxBQUF3QixTQUFmLEdBQUcsRUFBRSxBQUFBLE9BQU8sR0FBRyxDQUFDLEVBQUUsQUFBeUIsU0FBaEIsR0FBRyxFQUFFLEFBQUEsT0FBTyxHQUFHLENBQUMsQUFBQSxNQUFNLENBQUM7RUFDdkQsVUFBVSxFQUFFLG9CQUFxQjtFQUNqQyxLQUFLLEVBQUUsS0FBTSxHQVNoQjtFQVhELEFBQXdCLFNBQWYsR0FBRyxFQUFFLEFBQUEsT0FBTyxHQUFHLENBQUMsQUFJcEIsTUFBTSxFQUpnQixBQUF5QixTQUFoQixHQUFHLEVBQUUsQUFBQSxPQUFPLEdBQUcsQ0FBQyxBQUFBLE1BQU0sQUFJckQsTUFBTSxDQUFDO0lBQ0osS0FBSyxFQUFFLEtBQU0sR0FDaEI7RUFOTCxBQUF3QixTQUFmLEdBQUcsRUFBRSxBQUFBLE9BQU8sR0FBRyxDQUFDLEFBUXBCLE9BQU8sRUFSZSxBQUF5QixTQUFoQixHQUFHLEVBQUUsQUFBQSxPQUFPLEdBQUcsQ0FBQyxBQUFBLE1BQU0sQUFRckQsT0FBTyxDQUFDO0lBQ0wsS0FBSyxFQUFFLEtBQU0sR0FDaEI7O0FBR0wsQUFDSSxzQkFEa0IsQ0FDbEIsRUFBRSxDQUFDO0VBQ0MsU0FBUyxFQUFFLEdBQUksR0FDbEI7O0FBSEwsQUFLSSxzQkFMa0IsQ0FLbEIsRUFBRSxFQUxOLEFBS1Esc0JBTGMsQ0FLZCxFQUFFLENBQUM7RUFDSCxNQUFNLEVBQUUsSUFBSztFQUNiLE9BQU8sRUFBRSxJQUFLLEdBQ2pCOztBQUdMLEFBQUEsQ0FBQyxDQUFDO0VBQ0UsS0FBSyxFQ3pDTSxJQUFJLEdEMENsQjs7QUFFRCxBQUFBLEtBQUssQ0FBQztFQUNGLE1BQU0sRUFBRSxJQUFLLEdBQ2hCOztBQUVELEFBQVksV0FBRCxDQUFDLFFBQVEsQ0FBQztFQUNqQixVQUFVLEVBQUUsSUFBSyxHQUNwQjs7QUFFRCxBQUFBLE9BQU8sQ0FBQztFQUNKLFVBQVUsRUFBRSxJQUFLLEdBS3BCO0VBTkQsQUFHSSxPQUhHLENBR0gsb0JBQW9CLENBQUM7SUFDakIsVUFBVSxFQUFFLElBQUssR0FDcEI7O0FBR0wsQUFBYSxhQUFBLEFBQUEsT0FBTyxDQUFDO0VBQ2pCLFNBQVMsRUFBRSxHQUFJO0VBQ2YsS0FBSyxFQUFFLEtBQU0sR0FDaEI7O0FBRUQsQUFBQSxjQUFjLENBQUM7RUFDWCxNQUFNLEVBQUUsR0FBRyxDQUFDLEtBQUssQ0NwRVgsT0FBRyxHRHFFWjs7QUFFRCxBQUFBLFlBQVksQUFFUCxNQUFNLENBQUM7RUFDSixPQUFPLEVBQUUsSUFBSyxHQUNqQjs7QUFHTCxBQUFBLE1BQU0sQ0FBQztFQUNILE9BQU8sRUFBRSxJQUFLLEdBQ2pCOztBQUVELEFBQUEsZ0JBQWdCLENBQUM7RUFDYixVQUFVLEVBQUUsSUFBSyxHQUNwQjs7QUFHRCxBQUFBLFdBQVcsQ0FBQztFQUNSLE1BQU0sRUFBRSxNQUFPO0VBQ2YsS0FBSyxFQUFFLEtBQU0sR0EwRGhCO0VBNURELEFBSUksV0FKTyxDQUlQLFdBQVcsQ0FBQztJQUNSLFVBQVUsRUFBRSxLQUFNO0lBQ2xCLFVBQVUsRUFBRSxLQUFNO0lBQ2xCLFVBQVUsRUFBRSxNQUFPLEdBQ3RCO0VBUkwsQUFZUSxXQVpHLENBVVAsY0FBYyxDQUVWLFlBQVksQ0FBQztJQUNULFNBQVMsRUFBRSxLQUFNO0lBQ2pCLFdBQVcsRUFBRSxHQUFJLEdBQ3BCO0VBZlQsQUFpQlEsV0FqQkcsQ0FVUCxjQUFjLENBT1YsVUFBVSxDQUFDO0lBQ1AsS0FBSyxFQUFFLEtBQU07SUFDYixLQUFLLEVDN0dQLElBQUk7SUQ4R0YsVUFBVSxFQUFFLEdBQUk7SUFDaEIsWUFBWSxFQUFFLEdBQUksR0FLckI7SUExQlQsQUFpQlEsV0FqQkcsQ0FVUCxjQUFjLENBT1YsVUFBVSxBQU1MLE1BQU0sQ0FBQztNQUNKLEtBQUssRUNoSGIsT0FBTyxHRGlIRjtFQXpCYixBQTZCSSxXQTdCTyxDQTZCUCxZQUFZLENBQUM7SUFDVCxhQUFhLEVBQUUsS0FBTSxHQUN4QjtFQS9CTCxBQWtDUSxXQWxDRyxDQWlDUCxXQUFXLENBQ1Asa0JBQWtCLENBQUM7SUFDZixVQUFVLEVBQUUsS0FBTTtJQUNsQixRQUFRLEVBQUUsUUFBUztJQUNuQixLQUFLLEVBQUUsSUFBSztJQUNaLEdBQUcsRUFBRSxLQUFNLEdBVWQ7SUFoRFQsQUF3Q1ksV0F4Q0QsQ0FpQ1AsV0FBVyxDQUNQLGtCQUFrQixDQU1kLGlCQUFpQixDQUFDO01BQ2QsS0FBSyxFQ25JWCxJQUFJO01Eb0lFLFNBQVMsRUFBRSxLQUFNLEdBS3BCO01BL0NiLEFBd0NZLFdBeENELENBaUNQLFdBQVcsQ0FDUCxrQkFBa0IsQ0FNZCxpQkFBaUIsQUFJWixNQUFNLENBQUM7UUFDSixLQUFLLEVDdElWLElBQUksR0R1SUY7RUE5Q2pCLEFBa0RRLFdBbERHLENBaUNQLFdBQVcsQ0FpQlAsUUFBUSxDQUFDO0lBQ0wsU0FBUyxFQUFFLEtBQU07SUFDakIsU0FBUyxFQUFFLEtBQU07SUFDakIsVUFBVSxFQUFFLEtBQU0sR0FLckI7SUExRFQsQUFrRFEsV0FsREcsQ0FpQ1AsV0FBVyxDQWlCUCxRQUFRLEFBS0gsTUFBTSxDQUFDO01BQ0osT0FBTyxFQUFFLElBQUssR0FDakI7O0FBS2IsQUFFUSxjQUZNLENBQ1YsTUFBTSxDQUNGLENBQUMsQ0FBQztFQUNFLFVBQVUsRUFBRSxLQUFNLEdBQ3JCOztBQUpULEFBTVEsY0FOTSxDQUNWLE1BQU0sQ0FLRixnQkFBZ0IsQ0FBQztFQUNiLFFBQVEsRUFBRSxRQUFTO0VBQ25CLElBQUksRUFBRSxLQUFNO0VBQ1osU0FBUyxFQUFFLFVBQU07RUFDakIsY0FBYyxFQUFFLFVBQU07RUFDdEIsaUJBQWlCLEVBQUUsVUFBTTtFQUN6QixhQUFhLEVBQUUsVUFBTSxHQUN4Qjs7QUFJVCxBQUFBLGNBQWMsQ0FBQTtFQUNWLE9BQU8sRUFBQyxJQUFLLEdBQ2hCOztBQUNELEFBQUEsZ0JBQWdCLENBQUE7RUFDWixVQUFVLEVBQUUsR0FBSTtFQUNoQixTQUFTLEVBQUUsZ0JBQWlCO0VBQzVCLEtBQUssRUFBRSxLQUFNLEdBS2hCO0VBUkQsQUFBQSxnQkFBZ0IsQUFJWCxNQUFNLENBQUE7SUFDTCxLQUFLLEVDOUtELE9BQUc7SUQrS1AsU0FBUyxFQUFFLGdCQUFpQixHQUM3QiIsCgkibmFtZXMiOiBbXQp9 */