.main {
  margin-top: 80px;
  min-height: 700px; }

.panel-body {
  min-height: 500px; }

.details {
  margin-top: 60px;
  margin-bottom: 60px; }

.buttons {
  margin-bottom: 30px; }

.TdDet {
  color: #aaa;
  font-size: 1.5em;
  position: relative;
  top: 6px; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus {
  box-shadow: inset 0 -2px 0 green;
  color: green; }
  .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus:hover {
    color: green; }
  .nav-tabs > li.active > a:active, .nav-tabs > li.active > a:focus:active {
    color: green; }

#MainContent_GridView1 th {
  font-size: 2em; }

#MainContent_GridView1 td, #MainContent_GridView1 th {
  border: none;
  padding: 20px; }

a {
  color: #aaa; }

table {
  border: none; }

.panel-body .message {
  min-height: 30px; }

.upload {
  margin-top: 30px; }
  .upload #MainContent_Button1 {
    margin-top: 20px; }

.fa-file-text:before {
  font-size: 3em;
  color: green; }

/*# sourceMappingURL=data:application/json;base64,ewoJInZlcnNpb24iOiAzLAoJImZpbGUiOiAiLi4vQ29udGVudC9NeXBhZ2UuY3NzIiwKCSJzb3VyY2VzIjogWwoJCSIuLi9Db250ZW50L015cGFnZS5zY3NzIiwKCQkiLi4vQ29udGVudC9fdmFyaWFibGVzLnNjc3MiCgldLAoJIm1hcHBpbmdzIjogIkFBRUEsQUFBQSxLQUFLLENBQUM7RUFDRixVQUFVLEVBQUUsSUFBSztFQUNqQixVQUFVLEVBQUUsS0FBTSxHQUNyQjs7QUFFRCxBQUFBLFdBQVcsQ0FBQztFQUNSLFVBQVUsRUFBRSxLQUFNLEdBQ3JCOztBQUVELEFBQUEsUUFBUSxDQUFDO0VBQ0wsVUFBVSxFQUFFLElBQUs7RUFDakIsYUFBYSxFQUFFLElBQUssR0FDdkI7O0FBRUQsQUFBQSxRQUFRLENBQUM7RUFDTCxhQUFhLEVBQUUsSUFBSyxHQUN2Qjs7QUFFRCxBQUFBLE1BQU0sQ0FBQztFQUNILEtBQUssRUNYTSxJQUFJO0VEWWYsU0FBUyxFQUFFLEtBQU07RUFDakIsUUFBUSxFQUFFLFFBQVM7RUFDbkIsR0FBRyxFQUFFLEdBQUksR0FDWjs7QUFFRCxBQUF3QixTQUFmLEdBQUcsRUFBRSxBQUFBLE9BQU8sR0FBRyxDQUFDLEVBQUUsQUFBeUIsU0FBaEIsR0FBRyxFQUFFLEFBQUEsT0FBTyxHQUFHLENBQUMsQUFBQSxNQUFNLENBQUM7RUFDdkQsVUFBVSxFQUFFLG9CQUFxQjtFQUNqQyxLQUFLLEVBQUUsS0FBTSxHQVNoQjtFQVhELEFBQXdCLFNBQWYsR0FBRyxFQUFFLEFBQUEsT0FBTyxHQUFHLENBQUMsQUFJcEIsTUFBTSxFQUpnQixBQUF5QixTQUFoQixHQUFHLEVBQUUsQUFBQSxPQUFPLEdBQUcsQ0FBQyxBQUFBLE1BQU0sQUFJckQsTUFBTSxDQUFDO0lBQ0osS0FBSyxFQUFFLEtBQU0sR0FDaEI7RUFOTCxBQUF3QixTQUFmLEdBQUcsRUFBRSxBQUFBLE9BQU8sR0FBRyxDQUFDLEFBUXBCLE9BQU8sRUFSZSxBQUF5QixTQUFoQixHQUFHLEVBQUUsQUFBQSxPQUFPLEdBQUcsQ0FBQyxBQUFBLE1BQU0sQUFRckQsT0FBTyxDQUFDO0lBQ0wsS0FBSyxFQUFFLEtBQU0sR0FDaEI7O0FBR0wsQUFDSSxzQkFEa0IsQ0FDbEIsRUFBRSxDQUFBO0VBQ0UsU0FBUyxFQUFFLEdBQUksR0FDbEI7O0FBSEwsQUFLSSxzQkFMa0IsQ0FLbEIsRUFBRSxFQUxOLEFBS1Esc0JBTGMsQ0FLZCxFQUFFLENBQUM7RUFDSCxNQUFNLEVBQUUsSUFBSztFQUNiLE9BQU8sRUFBRSxJQUFLLEdBQ2pCOztBQUdGLEFBQUEsQ0FBQyxDQUFDO0VBQ0UsS0FBSyxFQzFDRyxJQUFJLEdEMkNmOztBQUVKLEFBQUEsS0FBSyxDQUFDO0VBQ0YsTUFBTSxFQUFFLElBQUssR0FFaEI7O0FBQ0QsQUFBWSxXQUFELENBQUMsUUFBUSxDQUFDO0VBQ2pCLFVBQVUsRUFBRSxJQUFLLEdBQ3BCOztBQUNELEFBQUEsT0FBTyxDQUFDO0VBQ0osVUFBVSxFQUFFLElBQUssR0FLcEI7RUFORCxBQUVJLE9BRkcsQ0FFSCxvQkFBb0IsQ0FBQTtJQUNoQixVQUFVLEVBQUUsSUFBSyxHQUNwQjs7QUFJTCxBQUFhLGFBQUEsQUFBQSxPQUFPLENBQUM7RUFDYixTQUFTLEVBQUUsR0FBSTtFQUNmLEtBQUssRUFBQyxLQUFNLEdBQ2YiLAoJIm5hbWVzIjogW10KfQ== */