.steps {
  font-size: 2em;
  margin-top: 17px;
  margin-left: 60px; }

.progr {
  margin-top: 75px;
  width: 100%;
  height: 80px;
  background: #f5f5f5;
  border: none;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  margin-bottom: 70px; }
  .progr .line {
    height: 1px;
    position: relative;
    background: whitesmoke;
    background: -moz-linear-gradient(left, whitesmoke 0%, #bbbbbb 30%, #bbbbbb 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, whitesmoke), color-stop(30%, #bbbbbb), color-stop(100%, #bbbbbb));
    background: -webkit-linear-gradient(left, whitesmoke 0%, #bbbbbb 30%, #bbbbbb 100%);
    background: -o-linear-gradient(left, whitesmoke 0%, #bbbbbb 30%, #bbbbbb 100%);
    background: -ms-linear-gradient(left, whitesmoke 0%, #bbbbbb 30%, #bbbbbb 100%);
    background: linear-gradient(to right, whitesmoke 0%, #bbbbbb 30%, #bbbbbb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#bbbbbb', GradientType=1 );
    width: 60%;
    float: right;
    margin-top: -16px;
    margin-right: 65px; }
    .progr .line .icons-wrapper {
      padding-left: 150px; }
      .progr .line .icons-wrapper p {
        display: inline-block;
        position: relative;
        top: 0px;
        float: left; }
        .progr .line .icons-wrapper p .fa-user {
          position: relative;
          top: -25px;
          color: #ccc; }
        .progr .line .icons-wrapper p .fa-thumbs-up {
          position: relative;
          top: -24px;
          color: #ccc; }
        .progr .line .icons-wrapper p .fa-eur {
          position: relative;
          top: -20px;
          color: #aaa; }

.panel-heading h4 {
  margin-left: 45px; }

.panel-body .rates {
  margin-left: -70px; }

.panel-body .text-center {
  margin-top: 40px; }

.alert-success {
  background-color: #95d37c;
  margin-top: -10px;
  margin-bottom: 60px;
  position: relative;
  top: 25px;
  width: 85%;
  margin-left: auto;
  margin-right: auto; }

.alert-danger {
  background: #f82c2c;
  margin-top: -10px;
  margin-bottom: 60px;
  position: relative;
  top: 25px;
  width: 85%;
  margin-left: auto;
  margin-right: auto; }

@media screen and (min-width: 1060px) {
  .line {
    margin-top: 45px; } }

/*# sourceMappingURL=data:application/json;base64,ewoJInZlcnNpb24iOiAzLAoJImZpbGUiOiAiLi4vQ29udGVudC9TZXRQYXltZW50LmNzcyIsCgkic291cmNlcyI6IFsKCQkiLi4vQ29udGVudC9TZXRQYXltZW50LnNjc3MiLAoJCSIuLi9Db250ZW50L192YXJpYWJsZXMuc2NzcyIKCV0sCgkibWFwcGluZ3MiOiAiQUFFQSxBQUFBLE1BQU0sQ0FBQztFQUNILFNBQVMsRUFBRSxHQUFJO0VBQ2YsVUFBVSxFQUFFLElBQUs7RUFDakIsV0FBVyxFQUFFLElBQUssR0FDckI7O0FBRUQsQUFBQSxNQUFNLENBQUM7RUFDSCxVQUFVLEVBQUUsSUFBSztFQUNqQixLQUFLLEVBQUUsSUFBSztFQUNaLE1BQU0sRUFBRSxJQUFLO0VBQ2IsVUFBVSxFQUFFLE9BQVE7RUFDcEIsTUFBTSxFQUFFLElBQUs7RUFDYixhQUFhLEVBQUUsR0FBSTtFQUNuQixrQkFBa0IsRUFBRSxDQUFDLENBQUMsR0FBRyxDQUFDLEdBQUcsQ0FBQyxrQkFBSTtFQUNsQyxVQUFVLEVBQUUsQ0FBQyxDQUFDLEdBQUcsQ0FBQyxHQUFHLENBQUMsa0JBQUk7RUFDMUIsYUFBYSxFQUFFLElBQUssR0FrRHZCO0VBM0RELEFBV0ksTUFYRSxDQVdGLEtBQUssQ0FBQztJQUNGLE1BQU0sRUFBRSxHQUFJO0lBQ1osUUFBUSxFQUFFLFFBQVM7SUFFbkIsVUFBVSxFQUFFLFVBQUk7SUFDaEIsVUFBVSxFQUFFLG9FQUFvQjtJQUNoQyxVQUFVLEVBQUUsc0hBQWdCO0lBQzVCLFVBQVUsRUFBRSx1RUFBdUI7SUFDbkMsVUFBVSxFQUFFLGtFQUFrQjtJQUM5QixVQUFVLEVBQUUsbUVBQW1CO0lBQy9CLFVBQVUsRUFBRSxtRUFBZTtJQUMzQixNQUFNLEVBQUUsNEdBQTRHO0lBQ3BILEtBQUssRUFBRSxHQUFJO0lBQ1gsS0FBSyxFQUFFLEtBQU07SUFDYixVQUFVLEVBQUUsS0FBTTtJQUNsQixZQUFZLEVBQUUsSUFBSyxHQWdDdEI7SUExREwsQUE0QlEsTUE1QkYsQ0FXRixLQUFLLENBaUJELGNBQWMsQ0FBQztNQUNYLFlBQVksRUFBRSxLQUFNLEdBNEJ2QjtNQXpEVCxBQWlDWSxNQWpDTixDQVdGLEtBQUssQ0FpQkQsY0FBYyxDQUtWLENBQUMsQ0FBQztRQUNFLE9BQU8sRUFBRSxZQUFhO1FBQ3RCLFFBQVEsRUFBRSxRQUFTO1FBQ25CLEdBQUcsRUFBRSxHQUFJO1FBQ1QsS0FBSyxFQUFFLElBQUssR0FtQmY7UUF4RGIsQUF1Q2dCLE1BdkNWLENBV0YsS0FBSyxDQWlCRCxjQUFjLENBS1YsQ0FBQyxDQU1HLFFBQVEsQ0FBQztVQUNMLFFBQVEsRUFBRSxRQUFTO1VBQ25CLEdBQUcsRUFBRSxLQUFNO1VBQ1gsS0FBSyxFQ3hDWCxJQUFJLEdEeUNEO1FBM0NqQixBQTZDZ0IsTUE3Q1YsQ0FXRixLQUFLLENBaUJELGNBQWMsQ0FLVixDQUFDLENBWUcsYUFBYSxDQUFDO1VBQ1YsUUFBUSxFQUFFLFFBQVM7VUFDbkIsR0FBRyxFQUFFLEtBQU07VUFDWCxLQUFLLEVDOUNYLElBQUksR0QrQ0Q7UUFqRGpCLEFBbURnQixNQW5EVixDQVdGLEtBQUssQ0FpQkQsY0FBYyxDQUtWLENBQUMsQ0FrQkcsT0FBTyxDQUFDO1VBQ0osUUFBUSxFQUFFLFFBQVM7VUFDbkIsR0FBRyxFQUFFLEtBQU07VUFDWCxLQUFLLEVDbkRWLElBQUksR0RvREY7O0FBS2pCLEFBQ0ksY0FEVSxDQUNWLEVBQUUsQ0FBQTtFQUNFLFdBQVcsRUFBRSxJQUFLLEdBQ3JCOztBQUVMLEFBQ0ksV0FETyxDQUNQLE1BQU0sQ0FBQztFQUNILFdBQVcsRUFBRSxLQUFNLEdBQ3RCOztBQUhMLEFBSUksV0FKTyxDQUlQLFlBQVksQ0FBQTtFQUNSLFVBQVUsRUFBRSxJQUFLLEdBQ3BCOztBQUtMLEFBQUEsY0FBYyxDQUFDO0VBQ1gsZ0JBQWdCLEVBQUUsT0FBRztFQUNyQixVQUFVLEVBQUUsS0FBTTtFQUNsQixhQUFhLEVBQUUsSUFBSztFQUNwQixRQUFRLEVBQUUsUUFBUztFQUNuQixHQUFHLEVBQUUsSUFBSztFQUNWLEtBQUssRUFBRSxHQUFJO0VBQ1gsV0FBVyxFQUFFLElBQUs7RUFDbEIsWUFBWSxFQUFFLElBQUssR0FDdEI7O0FBRUQsQUFBQSxhQUFhLENBQUM7RUFDVixVQUFVLEVDeEZOLE9BQU87RUR5RlgsVUFBVSxFQUFFLEtBQU07RUFDbEIsYUFBYSxFQUFFLElBQUs7RUFDcEIsUUFBUSxFQUFFLFFBQVM7RUFDbkIsR0FBRyxFQUFFLElBQUs7RUFDVixLQUFLLEVBQUUsR0FBSTtFQUNYLFdBQVcsRUFBRSxJQUFLO0VBQ2xCLFlBQVksRUFBRSxJQUFLLEdBQ3RCOztBQUNELE1BQU0sQ0FBTixNQUFNLE1BQU0sU0FBUyxFQUFFLE1BQU07RUFDM0IsQUFBQSxLQUFLLENBQUM7SUFDQSxVQUFVLEVBQUUsSUFBSyxHQUNwQiIsCgkibmFtZXMiOiBbXQp9 */