.steps {
  font-size: 2em;
  margin-top: 17px;
  margin-left: 35px; }

.progr {
  margin-top: 75px;
  width: 100%;
  height: 80px;
  background: #f5f5f5;
  border: none;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  margin-bottom: 70px; }
  .progr .row {
    display: inline;
    margin: 0px;
    padding: 0px; }
  .progr .line {
    height: 1px;
    position: relative;
    background: whitesmoke;
    background: -moz-linear-gradient(left, whitesmoke 0%, #bbbbbb 30%, #bbbbbb 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, whitesmoke), color-stop(30%, #bbbbbb), color-stop(100%, #bbbbbb));
    background: -webkit-linear-gradient(left, whitesmoke 0%, #bbbbbb 30%, #bbbbbb 100%);
    background: -o-linear-gradient(left, whitesmoke 0%, #bbbbbb 30%, #bbbbbb 100%);
    background: -ms-linear-gradient(left, whitesmoke 0%, #bbbbbb 30%, #bbbbbb 100%);
    background: linear-gradient(to right, whitesmoke 0%, #bbbbbb 30%, #bbbbbb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#bbbbbb', GradientType=1 );
    width: 60%;
    margin-top: 50px; }
    .progr .line .icons-wrapper {
      padding-left: 150px; }
      .progr .line .icons-wrapper p {
        display: inline-block;
        position: relative;
        top: 0px;
        float: left; }
        .progr .line .icons-wrapper p .fa-user {
          position: relative;
          top: -25px;
          color: #ccc; }
        .progr .line .icons-wrapper p .fa-thumbs-up {
          position: relative;
          top: -24px;
          color: #ccc; }
        .progr .line .icons-wrapper p .fa-eur {
          position: relative;
          top: -20px;
          color: #aaa; }

.panel-heading h4 {
  margin-left: 45px; }

.panel-body .rates {
  margin-left: -70px; }

.panel-body .text-center {
  margin-top: 40px; }

.alert-success {
  background-color: #95d37c;
  margin-top: -10px;
  margin-bottom: 60px;
  position: relative;
  top: 25px;
  width: 85%;
  margin-left: auto;
  margin-right: auto; }

.alert-danger {
  background: #f82c2c;
  margin-top: -10px;
  margin-bottom: 60px;
  position: relative;
  top: 25px;
  width: 85%;
  margin-left: auto;
  margin-right: auto; }

@media screen and (min-width: 1060px) {
  .line {
    margin-top: 45px; } }

/*# sourceMappingURL=data:application/json;base64,ewoJInZlcnNpb24iOiAzLAoJImZpbGUiOiAiLi4vQ29udGVudC9TZXRQYXltZW50LmNzcyIsCgkic291cmNlcyI6IFsKCQkiLi4vQ29udGVudC9TZXRQYXltZW50LnNjc3MiLAoJCSIuLi9Db250ZW50L192YXJpYWJsZXMuc2NzcyIKCV0sCgkibWFwcGluZ3MiOiAiQUFFQSxBQUFBLE1BQU0sQ0FBQztFQUNILFNBQVMsRUFBRSxHQUFJO0VBQ2YsVUFBVSxFQUFFLElBQUs7RUFDakIsV0FBVyxFQUFFLElBQUssR0FDckI7O0FBRUQsQUFBQSxNQUFNLENBQUM7RUFDSCxVQUFVLEVBQUUsSUFBSztFQUNqQixLQUFLLEVBQUUsSUFBSztFQUNaLE1BQU0sRUFBRSxJQUFLO0VBQ2IsVUFBVSxFQUFFLE9BQVE7RUFDcEIsTUFBTSxFQUFFLElBQUs7RUFDYixhQUFhLEVBQUUsR0FBSTtFQUNuQixrQkFBa0IsRUFBRSxDQUFDLENBQUMsR0FBRyxDQUFDLEdBQUcsQ0FBQyxrQkFBSTtFQUNsQyxVQUFVLEVBQUUsQ0FBQyxDQUFDLEdBQUcsQ0FBQyxHQUFHLENBQUMsa0JBQUk7RUFDMUIsYUFBYSxFQUFFLElBQUssR0FzRHZCO0VBL0RELEFBV0ksTUFYRSxDQVdGLElBQUksQ0FBQztJQUNELE9BQU8sRUFBRSxNQUFPO0lBQ2hCLE1BQU0sRUFBRSxHQUFJO0lBQ1osT0FBTyxFQUFFLEdBQUksR0FDaEI7RUFmTCxBQWlCSSxNQWpCRSxDQWlCRixLQUFLLENBQUM7SUFDRixNQUFNLEVBQUUsR0FBSTtJQUNaLFFBQVEsRUFBRSxRQUFTO0lBRW5CLFVBQVUsRUFBRSxVQUFJO0lBQ2hCLFVBQVUsRUFBRSxvRUFBb0I7SUFDaEMsVUFBVSxFQUFFLHNIQUFnQjtJQUM1QixVQUFVLEVBQUUsdUVBQXVCO0lBQ25DLFVBQVUsRUFBRSxrRUFBa0I7SUFDOUIsVUFBVSxFQUFFLG1FQUFtQjtJQUMvQixVQUFVLEVBQUUsbUVBQWU7SUFDM0IsTUFBTSxFQUFFLDRHQUE0RztJQUNwSCxLQUFLLEVBQUUsR0FBSTtJQUNYLFVBQVUsRUFBRSxJQUFLLEdBZ0NwQjtJQTlETCxBQWdDUSxNQWhDRixDQWlCRixLQUFLLENBZUQsY0FBYyxDQUFDO01BQ1gsWUFBWSxFQUFFLEtBQU0sR0E0QnZCO01BN0RULEFBcUNZLE1BckNOLENBaUJGLEtBQUssQ0FlRCxjQUFjLENBS1YsQ0FBQyxDQUFDO1FBQ0UsT0FBTyxFQUFFLFlBQWE7UUFDdEIsUUFBUSxFQUFFLFFBQVM7UUFDbkIsR0FBRyxFQUFFLEdBQUk7UUFDVCxLQUFLLEVBQUUsSUFBSyxHQW1CZjtRQTVEYixBQTJDZ0IsTUEzQ1YsQ0FpQkYsS0FBSyxDQWVELGNBQWMsQ0FLVixDQUFDLENBTUcsUUFBUSxDQUFDO1VBQ0wsUUFBUSxFQUFFLFFBQVM7VUFDbkIsR0FBRyxFQUFFLEtBQU07VUFDWCxLQUFLLEVDNUNYLElBQUksR0Q2Q0Q7UUEvQ2pCLEFBaURnQixNQWpEVixDQWlCRixLQUFLLENBZUQsY0FBYyxDQUtWLENBQUMsQ0FZRyxhQUFhLENBQUM7VUFDVixRQUFRLEVBQUUsUUFBUztVQUNuQixHQUFHLEVBQUUsS0FBTTtVQUNYLEtBQUssRUNsRFgsSUFBSSxHRG1ERDtRQXJEakIsQUF1RGdCLE1BdkRWLENBaUJGLEtBQUssQ0FlRCxjQUFjLENBS1YsQ0FBQyxDQWtCRyxPQUFPLENBQUM7VUFDSixRQUFRLEVBQUUsUUFBUztVQUNuQixHQUFHLEVBQUUsS0FBTTtVQUNYLEtBQUssRUN2RFYsSUFBSSxHRHdERjs7QUFNakIsQUFDSSxjQURVLENBQ1YsRUFBRSxDQUFDO0VBQ0MsV0FBVyxFQUFFLElBQUssR0FDckI7O0FBR0wsQUFDSSxXQURPLENBQ1AsTUFBTSxDQUFDO0VBQ0gsV0FBVyxFQUFFLEtBQU0sR0FDdEI7O0FBSEwsQUFLSSxXQUxPLENBS1AsWUFBWSxDQUFDO0VBQ1QsVUFBVSxFQUFFLElBQUssR0FDcEI7O0FBS0wsQUFBQSxjQUFjLENBQUM7RUFDWCxnQkFBZ0IsRUFBRSxPQUFHO0VBQ3JCLFVBQVUsRUFBRSxLQUFNO0VBQ2xCLGFBQWEsRUFBRSxJQUFLO0VBQ3BCLFFBQVEsRUFBRSxRQUFTO0VBQ25CLEdBQUcsRUFBRSxJQUFLO0VBQ1YsS0FBSyxFQUFFLEdBQUk7RUFDWCxXQUFXLEVBQUUsSUFBSztFQUNsQixZQUFZLEVBQUUsSUFBSyxHQUN0Qjs7QUFFRCxBQUFBLGFBQWEsQ0FBQztFQUNWLFVBQVUsRUMvRk4sT0FBTztFRGdHWCxVQUFVLEVBQUUsS0FBTTtFQUNsQixhQUFhLEVBQUUsSUFBSztFQUNwQixRQUFRLEVBQUUsUUFBUztFQUNuQixHQUFHLEVBQUUsSUFBSztFQUNWLEtBQUssRUFBRSxHQUFJO0VBQ1gsV0FBVyxFQUFFLElBQUs7RUFDbEIsWUFBWSxFQUFFLElBQUssR0FDdEI7O0FBRUQsTUFBTSxDQUFOLE1BQU0sTUFBTSxTQUFTLEVBQUUsTUFBTTtFQUN6QixBQUFBLEtBQUssQ0FBQztJQUNGLFVBQVUsRUFBRSxJQUFLLEdBQ3BCIiwKCSJuYW1lcyI6IFtdCn0= */