/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px; }

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px; }

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
  white-space: normal; }

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
  max-width: 280px; }

.def-page-info {
  margin-top: 20px; }
  .def-page-info .well-sm {
    font-size: 1.4em;
    background-color: rgba(182, 182, 182, 0.33);
    -webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.29);
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.29); }
  .def-page-info .customer-center-body {
    text-align: center;
    font-size: 5em;
    color: #666666; }
    .def-page-info .customer-center-body .thumbnail {
      color: #666666;
      -webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.29);
      -moz-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.29);
      box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.29); }
      .def-page-info .customer-center-body .thumbnail:hover, .def-page-info .customer-center-body .thumbnail:active, .def-page-info .customer-center-body .thumbnail:focus {
        border-color: #666; }

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .jumbotron {
    margin-top: 20px; }
  .body-content {
    padding: 0; } }

