/* Move down content because we have a fixed navbar that is 50px tall */
.navbar-brand {
  color: #4caf50; }

#Button1 {
  margin-top: 12px;
  font-size: 1em;
  margin-left: 20px;
  margin-right: 20px; }

body {
  padding-top: 50px;
  padding-bottom: 20px; }

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px; }

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
  white-space: normal; }

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
  max-width: 280px; }

.def-page-info {
  margin-top: 20px; }
  .def-page-info .well-sm {
    font-size: 1.4em;
    background-color: rgba(182, 182, 182, 0.33);
    -webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.29);
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.29); }
  .def-page-info .customer-center-body {
    text-align: center;
    font-size: 5em;
    color: #666666; }
    .def-page-info .customer-center-body .thumbnail {
      color: #666666;
      -webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.29);
      -moz-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.29);
      box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.29); }
      .def-page-info .customer-center-body .thumbnail:hover, .def-page-info .customer-center-body .thumbnail:active, .def-page-info .customer-center-body .thumbnail:focus {
        border-color: #666; }
  .def-page-info .thumbnail img {
    margin: 10px;
    float: left; }
  .def-page-info .thumbnail #head1 {
    margin-top: 50px; }
  .def-page-info .thumbnail #head2 {
    margin-top: 6px !important; }
  .def-page-info .thumbnail p {
    margin-top: 23px;
    margin-bottom: 0px; }
    .def-page-info .thumbnail p a {
      float: right;
      margin-right: 30px;
      color: #b6c308; }
      .def-page-info .thumbnail p a:hover {
        color: rgba(0, 0, 0, 0.29); }

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .jumbotron {
    margin-top: 20px; }
  .body-content {
    padding: 0; } }

/*# sourceMappingURL=data:application/json;base64,ewoJInZlcnNpb24iOiAzLAoJImZpbGUiOiAiLi4vQ29udGVudC9TaXRlLmNzcyIsCgkic291cmNlcyI6IFsKCQkiLi4vQ29udGVudC9TaXRlLnNjc3MiCgldLAoJIm1hcHBpbmdzIjogIkFBQUEsd0VBQXdFO0FBT3hFLEFBQUEsYUFBYSxDQUFDO0VBQ1YsS0FBSyxFQUFFLE9BQVEsR0FDbEI7O0FBRUQsQUFBQSxRQUFRLENBQUM7RUFDTCxVQUFVLEVBQUMsSUFBSztFQUNoQixTQUFTLEVBQUUsR0FBSTtFQUNmLFdBQVcsRUFBRSxJQUFLO0VBQ2xCLFlBQVksRUFBRSxJQUFLLEdBQ3RCOztBQUlELEFBQUEsSUFBSSxDQUFDO0VBQ0QsV0FBVyxFQUFFLElBQUs7RUFDbEIsY0FBYyxFQUFFLElBQUssR0FDeEI7O0FBRUQsc0JBQXNCO0FBQ3RCLG1FQUFtRTtBQUNuRSxBQUFBLGFBQWEsQ0FBQztFQUNWLFlBQVksRUFBRSxJQUFLO0VBQ25CLGFBQWEsRUFBRSxJQUFLLEdBQ3ZCOztBQUVEOztFQUVFO0FBQ0YsQUFBZSxjQUFELENBQUMsRUFBRSxDQUFDO0VBQ2QsV0FBVyxFQUFFLE1BQU8sR0FDdkI7O0FBRUQscUVBQXFFO0FBQ3JFLEFBQWlCLEtBQVosQ0FBQSxBQUFBLElBQUMsQ0FBSyxNQUFNLEFBQVg7QUFDTixBQUFxQixLQUFoQixDQUFBLEFBQUEsSUFBQyxDQUFLLFVBQVUsQUFBZjtBQUNOLEFBQWtCLEtBQWIsQ0FBQSxBQUFBLElBQUMsQ0FBSyxPQUFPLEFBQVo7QUFDTixBQUFnQixLQUFYLENBQUEsQUFBQSxJQUFDLENBQUssS0FBSyxBQUFWO0FBQ04sQUFBbUIsS0FBZCxDQUFBLEFBQUEsSUFBQyxDQUFLLFFBQVEsQUFBYixFQUFlO0VBQ2pCLFNBQVMsRUFBRSxLQUFNLEdBQ3BCOztBQUVELEFBQUEsY0FBYyxDQUFDO0VBQ1gsVUFBVSxFQUFFLElBQUssR0FnRHBCO0VBakRELEFBR0ksY0FIVSxDQUdWLFFBQVEsQ0FBQztJQUNMLFNBQVMsRUFBRSxLQUFNO0lBQ2pCLGdCQUFnQixFQUFFLHlCQUFJO0lBbkQxQixrQkFBa0IsRUFBRSxHQUFHLENBQUMsR0FBRyxDQUFDLEdBQUcsQ0FBQyxHQUFHLENBQUMsbUJBQUk7SUFDeEMsZUFBZSxFQUFFLEdBQUcsQ0FBQyxHQUFHLENBQUMsR0FBRyxDQUFDLEdBQUcsQ0FBQyxtQkFBSTtJQUNyQyxVQUFVLEVBQUUsR0FBRyxDQUFDLEdBQUcsQ0FBQyxHQUFHLENBQUMsR0FBRyxDQUFDLG1CQUFJLEdBbUQvQjtFQVBMLEFBU0ksY0FUVSxDQVNWLHFCQUFxQixDQUFDO0lBQ2xCLFVBQVUsRUFBRSxNQUFPO0lBQ25CLFNBQVMsRUFBRSxHQUFJO0lBQ2YsS0FBSyxFQUFFLE9BQVEsR0FVbEI7SUF0QkwsQUFjUSxjQWRNLENBU1YscUJBQXFCLENBS2pCLFVBQVUsQ0FBQztNQUNQLEtBQUssRUFBRSxPQUFRO01BN0R2QixrQkFBa0IsRUFBRSxHQUFHLENBQUMsR0FBRyxDQUFDLEdBQUcsQ0FBQyxHQUFHLENBQUMsbUJBQUk7TUFDeEMsZUFBZSxFQUFFLEdBQUcsQ0FBQyxHQUFHLENBQUMsR0FBRyxDQUFDLEdBQUcsQ0FBQyxtQkFBSTtNQUNyQyxVQUFVLEVBQUUsR0FBRyxDQUFDLEdBQUcsQ0FBQyxHQUFHLENBQUMsR0FBRyxDQUFDLG1CQUFJLEdBaUUzQjtNQXJCVCxBQWNRLGNBZE0sQ0FTVixxQkFBcUIsQ0FLakIsVUFBVSxBQUlMLE1BQU0sRUFsQm5CLEFBY1EsY0FkTSxDQVNWLHFCQUFxQixDQUtqQixVQUFVLEFBSUksT0FBTyxFQWxCN0IsQUFjUSxjQWRNLENBU1YscUJBQXFCLENBS2pCLFVBQVUsQUFJYyxNQUFNLENBQUM7UUFDdkIsWUFBWSxFQUFFLElBQUssR0FDdEI7RUFwQmIsQUF5QlEsY0F6Qk0sQ0F3QlYsVUFBVSxDQUNOLEdBQUcsQ0FBQztJQUNBLE1BQU0sRUFBRSxJQUFLO0lBQ2IsS0FBSyxFQUFFLElBQUssR0FDZjtFQTVCVCxBQTZCUSxjQTdCTSxDQXdCVixVQUFVLENBS04sTUFBTSxDQUFBO0lBQ0gsVUFBVSxFQUFFLElBQUssR0FDbkI7RUEvQlQsQUFnQ1EsY0FoQ00sQ0F3QlYsVUFBVSxDQVFOLE1BQU0sQ0FBQTtJQUNILFVBQVUsRUFBRSxjQUFlLEdBQzdCO0VBbENULEFBbUNRLGNBbkNNLENBd0JWLFVBQVUsQ0FXTixDQUFDLENBQUE7SUFDRyxVQUFVLEVBQUUsSUFBSztJQUNqQixhQUFhLEVBQUUsR0FBSSxHQVN0QjtJQTlDVCxBQXNDWSxjQXRDRSxDQXdCVixVQUFVLENBV04sQ0FBQyxDQUdHLENBQUMsQ0FBQztNQUNFLEtBQUssRUFBRSxLQUFNO01BQ2IsWUFBWSxFQUFFLElBQUs7TUFDbkIsS0FBSyxFQUFFLE9BQVEsR0FJbEI7TUE3Q2IsQUFzQ1ksY0F0Q0UsQ0F3QlYsVUFBVSxDQVdOLENBQUMsQ0FHRyxDQUFDLEFBSUksTUFBTSxDQUFDO1FBQ0osS0FBSyxFQUFFLG1CQUFJLEdBQ2Q7O0FBTWpCLHlDQUF5QztBQUN6QyxNQUFNLENBQU4sTUFBTSxNQUFNLFNBQVMsRUFBRSxLQUFLO0VBQ3hCLEFBQUEsVUFBVSxDQUFDO0lBQ1AsVUFBVSxFQUFFLElBQUssR0FDcEI7RUFFRCxBQUFBLGFBQWEsQ0FBQztJQUNWLE9BQU8sRUFBRSxDQUFFLEdBQ2QiLAoJIm5hbWVzIjogW10KfQ== */